.flows.json.backup
[{"id":"845896f3.df7ea8","type":"tab","label":"Demo v.1","disabled":false,"info":"BuildSimHub demo v1"},{"id":"7367f75f.e1c698","type":"tab","label":"OSS","disabled":false,"info":""},{"id":"30918288.adf97e","type":"tab","label":"Forge buckets","disabled":true,"info":""},{"id":"89d475b9.0a1c68","type":"tab","label":"Recap","disabled":true,"info":""},{"id":"f3e8442b.d6cce8","type":"tab","label":"BIM360","disabled":true,"info":""},{"id":"1a44d9cc.13f3c6","type":"tab","label":"Aconex Auth","disabled":false,"info":""},{"id":"6279d2b8.ff0a2c","type":"tab","label":"BIM Track | BIM 360","disabled":false,"info":""},{"id":"277c0ba1.558da4","type":"subflow","name":"Forge Authenticate","info":"Returns ab object ","in":[],"out":[{"x":860,"y":240,"wires":[{"id":"f89ba2e3.95c2","port":0}]}]},{"id":"3b1923f.add3cdc","type":"subflow","name":"Create Forge Bucket","info":"","in":[{"x":60,"y":80,"wires":[{"id":"4b1d0e83.33c91"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"97b8771b.59e918","port":0}]}]},{"id":"f054da6e.27dc18","type":"subflow","name":"Get Bucket Details","info":"","in":[{"x":140,"y":120,"wires":[{"id":"988a0b08.caa108"}]}],"out":[{"x":680,"y":120,"wires":[{"id":"3641acdf.32d684","port":0}]}]},{"id":"98a0edba.bc19d","type":"subflow","name":"Get2legAuth","info":"","in":[{"x":200,"y":120,"wires":[{"id":"486f4ba4.c14be4"}]}],"out":[{"x":600,"y":160,"wires":[{"id":"91015834.7f9998","port":0}]}]},{"id":"a8b19b0d.03afb8","type":"swagger configuration","z":"","apiUrl":"https://raw.githubusercontent.com/weilixu/buildsimhub_python_api/master/bsh_openapi.yaml","name":"buildsimhub"},{"id":"75874306.372f5c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#313437","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#313437","edited":true},"page-titlebar-backgroundColor":{"value":"#313437","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#555a5f","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#313437","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}}},"site":{"name":"Build Sim Hub Demo","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":12,"cy":12,"px":0,"py":0}}},{"id":"d20574b3.c07a08","type":"ui_group","z":"","name":"TotalSiteEUI","tab":"1c4d66e5.9cb949","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c4d66e5.9cb949","type":"ui_tab","z":"","name":"BSimHub Results","icon":"dashboard","order":4},{"id":"8ce35df4.8991c","type":"swagger configuration","z":null,"apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/bd8d58014092e5f4e0e29c68187fe8cdae6fb4d5/Forge-Swagger","name":""},{"id":"bb1498e.c67d168","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/7b86fe16d298359dcebc630d42f8b2a1cd7fc70d/Forge-Swagger","name":""},{"id":"34df404.a5bdbc","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/00d00e9ca6733a02d2965f8ea07a382a72f7e46a/Forge-Swagger","name":""},{"id":"77e841bd.045e8","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/00d00e9ca6733a02d2965f8ea07a382a72f7e46a/Forge-Swagger","name":""},{"id":"db4463e0.3304f","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/05410e23f79d905930adfdd74c9daeda900b85c8/Forge-Swagger","name":""},{"id":"86dee3b5.5fce4","type":"ui_group","z":"","name":"Total set point hours not met","tab":"1c4d66e5.9cb949","disp":true,"width":"6","collapse":false},{"id":"2bb38f9c.e114f","type":"ui_group","z":"","name":"Building lighting power density","tab":"1c4d66e5.9cb949","disp":true,"width":"6","collapse":false},{"id":"afce7074.a74d5","type":"ui_group","z":"","name":"Bulding people density","tab":"1c4d66e5.9cb949","order":5,"disp":true,"width":"6","collapse":false},{"id":"79f14a11.6a5cb4","type":"ui_group","z":"","name":"Building plug power density","tab":"1c4d66e5.9cb949","order":6,"disp":true,"width":"6","collapse":false},{"id":"fface127.e195d","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/64554315585b9fff54c4c2c20cb0a557/raw/ebb4c46d3be1fc8bc6f15cf76ba9b914f0a2ec7e/recap-swagger","name":""},{"id":"7369a109.23fa1","type":"ui_tab","z":"","name":"BIM360 Portal","icon":"dashboard","order":2},{"id":"936d274c.dbb418","type":"ui_group","z":"","name":"Select your Files","tab":"7369a109.23fa1","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4322ad5.4ff428","type":"ui_link","z":"","name":"Sign in to Forge!","link":"https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=mBmA7fzkNA5OWhDhcFPCXxfIM4YsuAHT&redirect_uri=http%3A%2F%2Flocalhost:8000%2Fapi%2Foauth%2Fcallback&scope=bucket:read%20data:read%20data:write","icon":"open_in_browser","target":"newtab","order":1},{"id":"5d1b35c1.f4dccc","type":"ui_group","z":"","name":"Step 1:","tab":"dc55791.3ef2688","order":1,"disp":true,"width":"6","collapse":false},{"id":"223638af.093be8","type":"ui_group","z":"","name":"Optional:","tab":"dc55791.3ef2688","order":4,"disp":true,"width":"6","collapse":false},{"id":"a84548c4.356c38","type":"ui_group","z":"","name":"Step 2:","tab":"dc55791.3ef2688","order":2,"disp":true,"width":"6","collapse":false},{"id":"154191d0.75a8fe","type":"ui_group","z":"","name":"Step 3:","tab":"dc55791.3ef2688","order":3,"disp":true,"width":"6","collapse":false},{"id":"dc55791.3ef2688","type":"ui_tab","z":"","name":"OSS Portal","icon":"dashboard","order":3},{"id":"94e3a750.976f98","type":"ui_link","z":"","name":"Sign In to Aconex","link":"https://apidev.aconex.com/Logon?Action=StartOAuth&client_id=apitest&redirect_uri=http%3A%2F%2Flocalhost:8000%2Fcallback","icon":"open_in_browser","target":"newtab","order":5},{"id":"af6901b5.93649","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"post_RunSimulationCustomize_API","inType":"","outType":"","name":"Run Sim","x":480,"y":260,"wires":[["9ff52a2d.f871d8","4b1d96fa.b072c8","64b365d3.d7922c"]]},{"id":"e04c116b.5fe51","type":"http in","z":"845896f3.df7ea8","name":"","url":"/api/RunSimulationCustomize_API","method":"post","upload":true,"swaggerDoc":"","x":210,"y":200,"wires":[["af6901b5.93649","e8e60f8c.4116c","8e6ac991.4fd0d8"]]},{"id":"dbe00230.c8dbe","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_TrackSimulation_API","inType":"","outType":"","name":"","x":560,"y":360,"wires":[["1c34c6f9.ef2d39","6e3ef4bd.6a8cec"]]},{"id":"9ff52a2d.f871d8","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var key = global.get(\"token\")\nvar http = msg.res\n\nif (msg.payload[\"status\"] === \"success\"){\n    var tracking = msg.payload.tracking\n    return [{\n        payload:{\n            track_token: tracking, \n            project_api_key: key\n        },\n        giraffe:{\n            track_token: tracking, \n            project_api_key: key\n        },\n        res: http\n    }]\n}\n","outputs":1,"noerr":0,"x":230,"y":360,"wires":[["dbe00230.c8dbe"]]},{"id":"e8e60f8c.4116c","type":"function","z":"845896f3.df7ea8","name":"setGlobalToken","func":"global.set(\"token\", msg.payload.project_api_key);  // this is now available to other nodes\nglobal.set(\"more\", \"true\")\n\nreturn msg","outputs":1,"noerr":0,"x":500,"y":140,"wires":[[]]},{"id":"a4e7389f.48dbf8","type":"delay","z":"845896f3.df7ea8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":500,"wires":[["3e313505.5755aa"]]},{"id":"1c34c6f9.ef2d39","type":"switch","z":"845896f3.df7ea8","name":"","property":"payload.has_more","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":500,"wires":[["a4e7389f.48dbf8"],["183fd84f.011148","e52c59a9.70bf88","9b5d5d4b.96c5d","dfbca8d0.f08c48","5f7d3081.15215","ad068560.38d7f8"]]},{"id":"3e313505.5755aa","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":650,"y":500,"wires":[["dbe00230.c8dbe"]]},{"id":"273486b2.4d794a","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":960,"y":580,"wires":[["c064a855.c8d368","ee72a523.a38058","f20fe3a8.978d3"]]},{"id":"9b5d5d4b.96c5d","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI'\n        //]\n        request_data: \"TotalSiteEUI\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["273486b2.4d794a"]]},{"id":"3e644b6b.30e3d4","type":"swagger api","z":"30918288.adf97e","apiConfig":"34df404.a5bdbc","resource":"Data Management API","method":"OssV2BucketsGet","inType":"","outType":"","name":"","x":640,"y":140,"wires":[[]]},{"id":"87bd61df.73855","type":"function","z":"30918288.adf97e","name":"","func":"// var key = global.get(\"forgeToken\")\nvar access = msg.payload.access_token\nvar type = msg.payload.token_type\n\nmsg.payload.Authorization = type + ' ' + access ;\n\nreturn msg","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["3e644b6b.30e3d4"]]},{"id":"3aac354b.32153a","type":"http response","z":"30918288.adf97e","name":"","statusCode":"301","headers":{"location":"http://localhost:8000/api/ui/#/1"},"x":480,"y":560,"wires":[]},{"id":"253df14f.8b9cfe","type":"comment","z":"30918288.adf97e","name":"","info":"# Get Buckets\n\nrequires auth\n* scope value in Postman = bucket:read data:read data:write","x":530,"y":60,"wires":[]},{"id":"8c9e40ae.6c1df","type":"http in","z":"277c0ba1.558da4","name":"","url":"authentication/v1/authenticate","method":"post","upload":false,"swaggerDoc":"","x":280,"y":260,"wires":[["f89ba2e3.95c2"]]},{"id":"f89ba2e3.95c2","type":"swagger api","z":"277c0ba1.558da4","apiConfig":"bb1498e.c67d168","resource":"Authenticate (OAuth)","method":"AuthenticationV1AuthenticatePost","inType":"","outType":"","name":"","x":470,"y":320,"wires":[["c4e38b74.10de28"]]},{"id":"c4e38b74.10de28","type":"function","z":"277c0ba1.558da4","name":"Set Forge Token Global","func":"if (msg.payload[\"access_token\"]){\n    global.set(\"forgeToken\", msg.payload.access_token);  // this is now available to other nodes\n    if (global.get(\"forgeToken\")){\n        console.log(\"OK - forgeToken set\")\n    } else {\n        return {\"error\": \"Forge token not set\"}\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[[]]},{"id":"5fb547dc.7b8d18","type":"comment","z":"277c0ba1.558da4","name":"comments","info":"# Authentication\n\n* Set access_token as global\n* Todo: Log function output to debug","x":320,"y":200,"wires":[]},{"id":"16e0cd1d.fbbd03","type":"subflow:277c0ba1.558da4","z":"30918288.adf97e","name":"Forge Authenticate","x":270,"y":100,"wires":[["f01794b5.3a42f8"]]},{"id":"f20fe3a8.978d3","type":"ui_text","z":"845896f3.df7ea8","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.data.value}}","format":"{{msg.payload.data.unit}}","layout":"col-center","x":1270,"y":580,"wires":[]},{"id":"8a3367f1.2627a8","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":600,"wires":[]},{"id":"1d39d9c8.6e7a46","type":"http in","z":"30918288.adf97e","name":"","url":"/oauth/callback","method":"get","upload":false,"swaggerDoc":"","x":200,"y":320,"wires":[["f01794b5.3a42f8","d9f6aefb.86477"]]},{"id":"ffc480e0.851bd","type":"swagger api","z":"30918288.adf97e","apiConfig":"77e841bd.045e8","resource":"Authenticate (OAuth)","method":"AuthenticationV1getToken","inType":"","outType":"","name":"","x":280,"y":500,"wires":[["799e811b.a9d3b","3aac354b.32153a","f3b71e3e.3d104"]]},{"id":"d9f6aefb.86477","type":"function","z":"30918288.adf97e","name":"","func":"var client_id = \"e000HQ9LYDZybWAGPOSUovs7GfQuRnqn\"\nvar client_secret = \"lnGhiAqm7avvlhvm\"\nvar grant_type = \"authorization_code\" // Must be authorization_code\nvar code = msg.payload.code //The authorization code captured from the code query parameter when the GET authorize redirected back to the callback URL\nvar redirect_uri = \"http://localhost:8000/api/oauth/callback\"\n\nmsg.payload.client_id = client_id\nmsg.payload.client_secret = client_secret\nmsg.payload.grant_type = grant_type\nmsg.payload.code = code\nmsg.payload.redirect_uri = redirect_uri\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["ffc480e0.851bd","cb387483.18dc08"]]},{"id":"799e811b.a9d3b","type":"function","z":"30918288.adf97e","name":"Set Global Access, Refresh","func":"global.set(\"access_token\", msg.payload.access_token)\nglobal.set(\"refresh_token\", msg.payload.refresh_token)\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["ab30bf34.dc2be"]]},{"id":"22d68f2e.c08ad","type":"swagger api","z":"30918288.adf97e","apiConfig":"db4463e0.3304f","resource":"Hubs","method":"ProjectV1HubsGet","inType":"","outType":"","name":"","x":750,"y":500,"wires":[["7ded5ddc.4c2934","2ec7d9c5.9da1e6"]]},{"id":"ab30bf34.dc2be","type":"function","z":"30918288.adf97e","name":"","func":"var token = global.get(\"access_token\")\n\nmsg.payload.Authorization = \"Bearer\" + \" \" + token\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["22d68f2e.c08ad","d13ad9ad.8b6988"]]},{"id":"7ded5ddc.4c2934","type":"function","z":"30918288.adf97e","name":"","func":"msg.options = []\n\nfor (i = 0; i < msg.payload.data.length; i++) { \n    msg.options.push({[msg.payload.data[i].attributes.name]: msg.payload.data[i].id  })\n    //msg.options[i][msg.payload.data[i].attributes.name] = msg.payload.data[i].id\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["8a3367f1.2627a8"]]},{"id":"e52c59a9.70bf88","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD',\n        // 'BuildingEPD'\n        //]\n        request_data: \"NotMetHoursCooling\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":650,"y":640,"wires":[["8f4b64dd.6204f8"]]},{"id":"8f4b64dd.6204f8","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":960,"y":640,"wires":[["b678cae1.40f4d8"]]},{"id":"aab551e9.3f22","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":960,"y":700,"wires":[["d7c00af8.52ee68"]]},{"id":"183fd84f.011148","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD',\n        // 'BuildingEPD'\n        //]\n        request_data: \"NotMetHoursHeating\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":650,"y":700,"wires":[["aab551e9.3f22"]]},{"id":"b769a9fc.7efe78","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var coolVal = msg.paths.NotMetHoursHeating.value\nvar coolUnit = msg.paths.NotMetHoursHeating.unit\nvar heatVal = msg.paths.NotMetHoursCooling.value\nvar heatUnit = msg.paths.NotMetHoursCooling.unit\n\n// Total setpoint hours not met(tshnm) = NotMetHoursCooling - NotMetHoursHeating\nvar tshnm = coolVal - heatVal\n\nvar lol = { \"totalSetPointHoursNotMet\": {\n    \"value\":tshnm,\n    \"unit\": heatUnit\n    }\n}\n\n\nreturn {payload: lol}","outputs":1,"noerr":0,"x":1850,"y":660,"wires":[["2bf3a002.b5c5c","ff59b.7eb79a658"]]},{"id":"d7c00af8.52ee68","type":"change","z":"845896f3.df7ea8","name":"","rules":[{"t":"set","p":"paths[\"NotMetHoursHeating\"]","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":700,"wires":[["e3095202.f0414"]]},{"id":"b678cae1.40f4d8","type":"change","z":"845896f3.df7ea8","name":"","rules":[{"t":"set","p":"paths[\"NotMetHoursCooling\"]","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":640,"wires":[["e3095202.f0414"]]},{"id":"e3095202.f0414","type":"wait-paths","z":"845896f3.df7ea8","name":"","paths":"[\"NotMetHoursCooling\",\"NotMetHoursHeating\"]","timeout":"15000","finalTimeout":"60000","x":1650,"y":660,"wires":[["b769a9fc.7efe78"]]},{"id":"2bf3a002.b5c5c","type":"ui_text","z":"845896f3.df7ea8","group":"86dee3b5.5fce4","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.totalSetPointHoursNotMet.value}}","format":"{{msg.payload.totalSetPointHoursNotMet.unit}}","layout":"col-center","x":2030,"y":660,"wires":[]},{"id":"779ba004.906e4","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":960,"y":760,"wires":[["690bc5f9.bfe22c"]]},{"id":"dfbca8d0.f08c48","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"BuildingLPD\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":650,"y":760,"wires":[["779ba004.906e4"]]},{"id":"690bc5f9.bfe22c","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1430,"y":760,"wires":[["6cf8b64f.ab6598","d819e9d4.a76688"]]},{"id":"6cf8b64f.ab6598","type":"ui_text","z":"845896f3.df7ea8","group":"2bb38f9c.e114f","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1610,"y":760,"wires":[]},{"id":"c064a855.c8d368","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":480,"wires":[]},{"id":"e24d2564.a52f68","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":960,"y":820,"wires":[["2ac02ea2.fb7ab2"]]},{"id":"5f7d3081.15215","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"BuildingPPL\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":650,"y":820,"wires":[["e24d2564.a52f68"]]},{"id":"2ac02ea2.fb7ab2","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1430,"y":820,"wires":[["3483b176.c8d3fe","b2b58133.23cb8"]]},{"id":"3483b176.c8d3fe","type":"ui_text","z":"845896f3.df7ea8","group":"afce7074.a74d5","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1610,"y":820,"wires":[]},{"id":"8b04080f.0295b8","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":960,"y":880,"wires":[["c8d2cd6c.142da"]]},{"id":"ad068560.38d7f8","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"TotalEndUseElectricity\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":650,"y":880,"wires":[["8b04080f.0295b8"]]},{"id":"c8d2cd6c.142da","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1430,"y":880,"wires":[["7534ffb1.af461","cfbe4bdf.51af78"]]},{"id":"7534ffb1.af461","type":"ui_text","z":"845896f3.df7ea8","group":"79f14a11.6a5cb4","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1610,"y":880,"wires":[]},{"id":"ba2d4fc3.0284c","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"8ce35df4.8991c","resource":"Folders","method":"DataV1ProjectsFoldersByProjectIdAndFolderIdGet","inType":"","outType":"","name":"","x":1323.3333435058594,"y":78.88890266418457,"wires":[[]]},{"id":"8017e5e6.9ab938","type":"http in","z":"845896f3.df7ea8","name":"","url":"/api/getfolder","method":"get","upload":false,"swaggerDoc":"","x":983.3333435058594,"y":78.88890266418457,"wires":[["ba2d4fc3.0284c"]]},{"id":"96c22ac1.140be8","type":"swagger api","z":"89d475b9.0a1c68","apiConfig":"fface127.e195d","resource":"ReCap","method":"PhotoTo3dV1PhotoscenePost","inType":"","outType":"","name":"Forge - Reality Capture","x":610,"y":320,"wires":[["d37c6c4b.9b784","6a45ad83.2d1b24"]]},{"id":"b8effb30.c39c28","type":"subflow:277c0ba1.558da4","z":"89d475b9.0a1c68","name":"Forge Authenticate","x":230,"y":160,"wires":[["c896463b.7c2588"]]},{"id":"13e745bf.282b2a","type":"http in","z":"89d475b9.0a1c68","name":"","url":"/oauth/callback","method":"get","upload":false,"swaggerDoc":"","x":270,"y":380,"wires":[["7646fca0.86e9a4"]]},{"id":"4b593b8c.018504","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":400,"wires":[]},{"id":"c896463b.7c2588","type":"function","z":"89d475b9.0a1c68","name":"","func":"var auth = \"Bearer\" + \" \" + msg.payload.access_token\nvar sceneName = \"carnmoreCastleTEST\"\nvar contentType = \"application/json\"\nvar sceneType = \"object\"\nvar callback = \"http://localhost:8000/api/oauth/callback\"\nvar access_token \n\n// global.set(\"access_token\", auth)\n\nreturn [{ \n            payload:{\n                \"Authorization\": auth,\n                \"Content-Type\": contentType,\n                \"scenename\": sceneName,\n                \"scenetype\": sceneType,\n                \"callback\": callback\n            },\n            monkey: \n            {\n                \"auth\": auth\n            }\n        }]\n\n\n// [{\n//         payload:{\n//             track_token: tracking, \n//             project_api_key: key\n//         },\n//         giraffe:{\n//             track_token: tracking, \n//             project_api_key: key\n//         },\n//         res: http\n//     }]","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["96c22ac1.140be8","cdc135a7.7790d8"]]},{"id":"7646fca0.86e9a4","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":460,"wires":[]},{"id":"d37c6c4b.9b784","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":320,"wires":[]},{"id":"cdc135a7.7790d8","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":240,"wires":[]},{"id":"656106b6.8df0a8","type":"swagger api","z":"89d475b9.0a1c68","apiConfig":"fface127.e195d","resource":"ReCap","method":"PhotoTo3dV1FilePost","inType":"","outType":"","name":"Forge - Reality Capture","x":870,"y":440,"wires":[["47e08268.40307c"]]},{"id":"24576797.2f0078","type":"function","z":"89d475b9.0a1c68","name":"rover","func":"var auth = global.get(\"access_token\")\nvar sceneName = \"carnmoreCastleTEST\"\nvar contentType = \"application/json\"\nvar sceneType = \"object\"\nvar callback = \"http://localhost:8000/api/oauth/callback\"\n\nvar id = msg.payload.photoscene.photosceneid\nvar auth = Authorization \nvar file = file[0]\nvar file1 = file[1]\nvar file2 = file[2]\n\nvar content =\"Content-Type\"\n\n\nmsg.payload = {\n    \"Authorization\": auth,\n    \"Content-Type\": contentType,\n    \"scenename\": sceneName,\n    \"scenetype\": sceneType,\n    \"callback\": callback\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[[]]},{"id":"6a45ad83.2d1b24","type":"function","z":"89d475b9.0a1c68","name":"lychee","func":"// var file0 = \"http://1e3a8b7d.ngrok.io/IMG_0875.jpg\"\n// var file1 = \"http://1e3a8b7d.ngrok.io/IMG_0876.jpg\"\n// var file2 = \"http://1e3a8b7d.ngrok.io/IMG_0877.jpg\"\n// var file3 = \"http://1e3a8b7d.ngrok.io/IMG_0878.jpg\"\n// var file4 = \"http://1e3a8b7d.ngrok.io/IMG_0879.jpg\"\n// var file5 = \"http://1e3a8b7d.ngrok.io/IMG_0880.jpg\"\n// var file6 = \"http://1e3a8b7d.ngrok.io/IMG_0881.jpg\"\n// var file7 = \"http://1e3a8b7d.ngrok.io/IMG_0882.jpg\"\n// var file8 = \"http://1e3a8b7d.ngrok.io/IMG_0883.jpg\"\n// var file9 = \"http://1e3a8b7d.ngrok.io/IMG_0884.jpg\"\n// var file10 = \"http://1e3a8b7d.ngrok.io/IMG_0885.jpg\"\n// var file11 = \"http://1e3a8b7d.ngrok.io/IMG_0886.jpg\"\n// var file12 = \"http://1e3a8b7d.ngrok.io/IMG_0887.jpg\"\n// var file13 = \"http://1e3a8b7d.ngrok.io/IMG_0888.jpg\"\n// var file14 = \"http://1e3a8b7d.ngrok.io/IMG_0889.jpg\"\n// var file15 = \"http://1e3a8b7d.ngrok.io/IMG_0890.jpg\"\n// var file16 = \"http://1e3a8b7d.ngrok.io/IMG_0891.jpg\"\n\nvar files = [\"http://1e3a8b7d.ngrok.io/IMG_0875.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0876.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0877.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0878.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0879.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0880.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0881.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0882.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0883.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0884.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0885.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0886.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0887.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0888.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0889.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0890.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0891.jpg\"]\n\n\nvar photoId = msg.payload.Photoscene.photosceneid\nvar auth = msg.monkey.auth\n\nconsole.log(\"....foto...\", photoId)\n\n// msg.payload = {\n//     \"Authorization\": auth,\n//     \"photosceneid\": photoId,\n//     \"Content-Type\": \"application/json\",\n//     \"file[0]\": file0,\n//     \"file[1]\": file1,\n//     \"file[2]\": file2,\n//     \"file[3]\": file3,\n//     \"file[4]\": file4,\n//     \"file[5]\": file5,\n//     \"file[6]\": file6,\n//     \"file[7]\": file7,\n//     \"file[8]\": file8,\n//     \"file[9]\": file9,\n//     \"file[10]\": file10,\n//     \"file[11]\": file11,\n//     \"file[12]\": file12,\n//     \"file[13]\": file13,\n//     \"file[14]\": file14,\n//     \"file[15]\": file15,\n//     \"file[16]\": file16\n// }\n\nmsg.payload = {\n    \"Authorization\": auth,\n    \"photosceneid\": photoId,\n    \"Content-Type\": \"application/json\",\n    \"file\": files,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["656106b6.8df0a8","4b593b8c.018504"]]},{"id":"47e08268.40307c","type":"http response","z":"89d475b9.0a1c68","name":"","statusCode":"","headers":{},"x":950,"y":540,"wires":[]},{"id":"f01794b5.3a42f8","type":"debug","z":"30918288.adf97e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":260,"wires":[]},{"id":"4b1d96fa.b072c8","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":260,"wires":[]},{"id":"6e3ef4bd.6a8cec","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":360,"wires":[]},{"id":"ee72a523.a38058","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"d20574b3.c07a08","order":0,"width":"0","height":"0","gtype":"gage","title":"","label":"{{msg.payload.data.unit}}","format":"{{msg.payload.data.value}}","min":0,"max":"200","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1270,"y":540,"wires":[]},{"id":"cfbe4bdf.51af78","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"79f14a11.6a5cb4","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"{{msg.payload.unit}}","format":"{{msg.payload.value}}","min":0,"max":"2000000","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1610,"y":900,"wires":[]},{"id":"b2b58133.23cb8","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"afce7074.a74d5","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"{{msg.payload.unit}}","format":"{{msg.payload.value}}","min":0,"max":"1000","colors":["#ca3838","#00b500","#ca3838"],"seg1":"300","seg2":"700","x":1610,"y":840,"wires":[]},{"id":"d819e9d4.a76688","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"2bb38f9c.e114f","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"{{msg.payload.unit}}","format":"{{msg.payload.value}}","min":0,"max":"10","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1610,"y":780,"wires":[]},{"id":"ff59b.7eb79a658","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"86dee3b5.5fce4","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"{{msg.payload.totalSetPointHoursNotMet.unit}}","format":"{{msg.payload.totalSetPointHoursNotMet.value}}","min":0,"max":"6000","colors":["#ca3838","#00b500","#ca3838"],"seg1":"1000","seg2":"5000","x":2030,"y":680,"wires":[]},{"id":"2ec7d9c5.9da1e6","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":500,"wires":[]},{"id":"a85f023d.7dee5","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"Select Hub","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My Hub","type":"str"}],"payload":"","topic":"","x":530,"y":840,"wires":[["464839b4.387528","abec66d9.03b0a8"]]},{"id":"8e6b0dd2.47d48","type":"function","z":"30918288.adf97e","name":"","func":"var msg;\nmsg.options = [];\nvar temp1, temp2;\n\ntemp1 =\"one\";\ntemp2 = \"two\";\nmsg.options[0] = temp1;\nmsg.options[1] = temp2;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":840,"wires":[["a85f023d.7dee5"]]},{"id":"abec66d9.03b0a8","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":800,"wires":[]},{"id":"eaad5db6.9beca","type":"inject","z":"30918288.adf97e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":840,"wires":[["8e6b0dd2.47d48"]]},{"id":"887f2ec3.fc35e","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"Select Project","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"My Project","type":"str"}],"payload":"","topic":"","x":540,"y":920,"wires":[[]]},{"id":"7263b857.f84798","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"Select File","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"chicago.epw","type":"str"}],"payload":"","topic":"","x":530,"y":980,"wires":[[]]},{"id":"464839b4.387528","type":"function","z":"30918288.adf97e","name":"","func":"var newmsg = msg;\n\nnewmsg.options = [];\nnewmsg.options[0] = msg.payload;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":690,"y":880,"wires":[[]]},{"id":"cb387483.18dc08","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":380,"wires":[]},{"id":"7cdbd2fe.db2aac","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"Select File","place":"Select option","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"model.xml","type":"str"}],"payload":"","topic":"","x":530,"y":1080,"wires":[[]]},{"id":"c475ceb7.bad76","type":"http in","z":"f3e8442b.d6cce8","name":"","url":"/api/oauth/callback","method":"get","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["b95fe140.dab22"]]},{"id":"b95fe140.dab22","type":"function","z":"f3e8442b.d6cce8","name":"","func":"var client_id = \"mBmA7fzkNA5OWhDhcFPCXxfIM4YsuAHT\"\nvar client_secret = \"fsJo6vfZ36gP72XZ\"\nvar grant_type = \"authorization_code\" // Must be authorization_code\nvar code = msg.payload.code //The authorization code captured from the code query parameter when the GET authorize redirected back to the callback URL\nvar redirect_uri = \"http://localhost:8000/api/oauth/callback\"\n\nmsg.payload.client_id = client_id\nmsg.payload.client_secret = client_secret\nmsg.payload.grant_type = grant_type\nmsg.payload.code = code\nmsg.payload.redirect_uri = redirect_uri\nmsg.headers = {\n    \"content-type\" : \"application/x-www-form-urlencoded\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["8ea75650.408b68"]]},{"id":"f3b71e3e.3d104","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":560,"y":460,"wires":[]},{"id":"8ea75650.408b68","type":"swagger api","z":"f3e8442b.d6cce8","apiConfig":"77e841bd.045e8","resource":"Authenticate (OAuth)","method":"AuthenticationV1getToken","inType":"","outType":"","name":"","x":240,"y":160,"wires":[["277f394a.8f4ac6","efa96417.2b9cf8"]]},{"id":"e778575.fe352a8","type":"function","z":"f3e8442b.d6cce8","name":"Bearer","func":"var token = global.get(\"access_token\")\n\nmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token,\n    \"Content-Type\" : \"application/vnd.api+json\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["6810c85d.36e448","7b871aa5.d06ef4"]]},{"id":"277f394a.8f4ac6","type":"function","z":"f3e8442b.d6cce8","name":"Set Global Access, Refresh","func":"global.set(\"access_token\", msg.payload.access_token)\nglobal.set(\"refresh_token\", msg.payload.refresh_token)\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["e778575.fe352a8"]]},{"id":"efa96417.2b9cf8","type":"http response","z":"f3e8442b.d6cce8","name":"","statusCode":"301","headers":{"location":"http://localhost:8000/api/ui/#/1"},"x":360,"y":200,"wires":[]},{"id":"d13ad9ad.8b6988","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":680,"wires":[]},{"id":"7b871aa5.d06ef4","type":"http request","z":"f3e8442b.d6cce8","name":"GEThubs","method":"GET","ret":"obj","url":"https://developer.api.autodesk.com/project/v1/hubs","tls":"","x":140,"y":360,"wires":[["ecff48fd.84c3d8"]]},{"id":"ecff48fd.84c3d8","type":"function","z":"f3e8442b.d6cce8","name":"Fill Hubs","func":"var newmsg = msg;\nnewmsg.options = [];\nvar name, id;\n\nfor (var i = 0; i < msg.payload.data.length; i++) {\n    name = msg.payload.data[i].attributes.name\n    id = msg.payload.data[i].id\n    newmsg.options[i] = {};\n    newmsg.options[i][name] = id;\n}\nreturn newmsg;","outputs":1,"noerr":0,"x":140,"y":400,"wires":[["46bd584f.e4b908"]]},{"id":"46bd584f.e4b908","type":"ui_dropdown","z":"f3e8442b.d6cce8","name":"","label":"Select Hub","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My hub","type":"str"}],"payload":"","topic":"","x":150,"y":440,"wires":[["883ebede.458b","72b1f6a1.1573e8"]]},{"id":"f40794bc.526c88","type":"ui_dropdown","z":"f3e8442b.d6cce8","name":"","label":"Select Project","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My project","type":"str"}],"payload":"","topic":"","x":560,"y":440,"wires":[["cadb81c9.9e54d"]]},{"id":"4552fb99.1361a4","type":"function","z":"f3e8442b.d6cce8","name":"Fill Projects","func":"var name, id\nmsg.options = [];\n\nfor (var i = 0; i < msg.payload.data.length; i++) {\n    name = msg.payload.data[i].attributes.name\n    id = msg.payload.data[i].id + \" \" +msg.payload.data[0].relationships.rootFolder.data.id\n    msg.options[i] = {};\n    msg.options[i][name] = id;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["f40794bc.526c88"]]},{"id":"a8eb008c.d6445","type":"ui_dropdown","z":"f3e8442b.d6cce8","name":"","label":"Select File","place":"Select option","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My file","type":"str"}],"payload":"","topic":"","x":1130,"y":400,"wires":[["c01da481.e1c1e8"]]},{"id":"5cb08757.f0a018","type":"http request","z":"f3e8442b.d6cce8","name":"GETprojects","method":"GET","ret":"obj","url":"","tls":"","x":550,"y":360,"wires":[["4552fb99.1361a4","2c3dbbce.eecc84"]]},{"id":"883ebede.458b","type":"function","z":"f3e8442b.d6cce8","name":"makeURL","func":"var newmsg = msg\n\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\n\nnewmsg.url = \"https://developer.api.autodesk.com/project/v1/hubs/\"+msg.payload+\"/projects\"\nreturn newmsg;","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["5cb08757.f0a018"]]},{"id":"cadb81c9.9e54d","type":"function","z":"f3e8442b.d6cce8","name":"makeURL","func":"var input = msg.payload + \"\"\nvar result = input.split(\" \");\nvar proID = result[0]\nglobal.set(\"project_id\", proID)\nvar URN = result[1]\nvar newmsg = msg\n\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nnewmsg.url = \"https://developer.api.autodesk.com/data/v1/projects/\"+proID+\"/folders/\" +URN+ \"/contents\"\n\nreturn newmsg;","outputs":1,"noerr":0,"x":760,"y":360,"wires":[["d6dd699d.ec4558"]]},{"id":"d6dd699d.ec4558","type":"http request","z":"f3e8442b.d6cce8","name":"GETfiles","method":"GET","ret":"obj","url":"","tls":"","x":920,"y":360,"wires":[["737e2829.a92eb8"]]},{"id":"737e2829.a92eb8","type":"function","z":"f3e8442b.d6cce8","name":"Fill files","func":"var name, id\nmsg.options = [];\n\nfor (var i = 0; i < msg.payload.data.length; i++) {\n    name = msg.payload.data[i].attributes.displayName\n    id = msg.payload.data[i].id\n    msg.options[i] = {};\n    msg.options[i][name] = id;\n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":400,"wires":[["a8eb008c.d6445","3071a6a1.1d750a"]]},{"id":"c01da481.e1c1e8","type":"function","z":"f3e8442b.d6cce8","name":"Get Location","func":"var newmsg = msg\nvar proId = global.get(\"project_id\")\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nvar objID = msg.payload\nnewmsg.url = \"https://developer.api.autodesk.com/data/v1/projects/\"+proId+\"/items/\"+objID\nreturn newmsg;","outputs":1,"noerr":0,"x":1310,"y":400,"wires":[["12bc0cee.378113"]]},{"id":"12bc0cee.378113","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1310,"y":460,"wires":[["d82c6b77.cb6258"]]},{"id":"d82c6b77.cb6258","type":"function","z":"f3e8442b.d6cce8","name":"Downlaod","func":"var newmsg = msg\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nnewmsg.url = msg.payload.included[0].relationships.storage.meta.link.href\nreturn newmsg;","outputs":1,"noerr":0,"x":1480,"y":460,"wires":[["fad38069.39ee4"]]},{"id":"fad38069.39ee4","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"bin","url":"","tls":"","x":1650,"y":460,"wires":[["d4d5e1e6.7d0a4"]]},{"id":"3071a6a1.1d750a","type":"ui_dropdown","z":"f3e8442b.d6cce8","name":"","label":"Select File","place":"Select option","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My file","type":"str"}],"payload":"","topic":"","x":1130,"y":560,"wires":[["10af29bd.c134b6"]]},{"id":"10af29bd.c134b6","type":"function","z":"f3e8442b.d6cce8","name":"Get Location","func":"var newmsg = msg\nvar proId = global.get(\"project_id\")\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nvar objID = msg.payload\nnewmsg.url = \"https://developer.api.autodesk.com/data/v1/projects/\"+proId+\"/items/\"+objID\nreturn newmsg;","outputs":1,"noerr":0,"x":1310,"y":560,"wires":[["e680162e.5efd58"]]},{"id":"e680162e.5efd58","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1310,"y":620,"wires":[["5b6488fd.665108"]]},{"id":"5b6488fd.665108","type":"function","z":"f3e8442b.d6cce8","name":"Downlaod","func":"var newmsg = msg\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nnewmsg.url = msg.payload.included[0].relationships.storage.meta.link.href\nreturn newmsg;","outputs":1,"noerr":0,"x":1480,"y":620,"wires":[["a652f41e.5e4b48"]]},{"id":"a652f41e.5e4b48","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"bin","url":"","tls":"","x":1650,"y":620,"wires":[["c344b308.61a3b"]]},{"id":"c344b308.61a3b","type":"file","z":"f3e8442b.d6cce8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1830,"y":620,"wires":[]},{"id":"10358191.20235e","type":"function","z":"7367f75f.e1c698","name":"Create Payload","func":"var Auth = global.get(\"2legAuth\")\n//var bucketKey = global.get(\"bucketKey\")\nvar bucketKey = msg.payload.name\nvar newmsg = msg\n\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\"+ bucketKey +\"/details\"\nreturn newmsg;","outputs":1,"noerr":0,"x":880,"y":360,"wires":[["8379949a.da11c8"]]},{"id":"8379949a.da11c8","type":"http request","z":"7367f75f.e1c698","name":"GetBucketDetails","method":"GET","ret":"obj","url":"","tls":"","x":1090,"y":360,"wires":[["a9a6dad2.1db078"]]},{"id":"6cca4655.b9eb78","type":"function","z":"7367f75f.e1c698","name":"Create Payload","func":"var Auth = global.get(\"2legAuth\")\n//var bucketKey = global.get(\"bucketKey\")\nvar bucketKey = msg.payload.name\nvar newmsg = msg\n\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\"+bucketKey+\"/objects\"\nreturn newmsg;","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["7dc52d37.c8c5e4"]]},{"id":"7dc52d37.c8c5e4","type":"http request","z":"7367f75f.e1c698","name":"GetBucketFiles","method":"GET","ret":"obj","url":"","tls":"","x":1080,"y":420,"wires":[["d4b7d7b8.4cfce8"]]},{"id":"8e6ac991.4fd0d8","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":200,"wires":[]},{"id":"97b8771b.59e918","type":"http request","z":"3b1923f.add3cdc","name":"","method":"POST","ret":"obj","url":"https://developer.api.autodesk.com/oss/v2/buckets","tls":"","x":410,"y":80,"wires":[[]]},{"id":"4b1d0e83.33c91","type":"function","z":"3b1923f.add3cdc","name":"","func":"var Auth = global.get(\"authentication\")\nvar key = \"mfrdgnotcg\"\nglobal.set(\"bucketKey\", key)\nmsg.headers = {\n    \"Authorization\" : Auth,\n    \"Content-Type\" : \"application/json\"\n}\nmsg.payload  =  {\n      \"bucketKey\": key,\n      \"policyKey\":\"persistent\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["97b8771b.59e918"]]},{"id":"988a0b08.caa108","type":"function","z":"f054da6e.27dc18","name":"","func":"var Auth = global.get(\"authentication\")\nvar bucketKey = global.get(\"bucketKey\")\nvar newmsg = msg\n\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\"+ bucketKey +\"/details\"\nreturn newmsg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["3641acdf.32d684"]]},{"id":"3641acdf.32d684","type":"http request","z":"f054da6e.27dc18","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":120,"wires":[[]]},{"id":"d4d5e1e6.7d0a4","type":"file","z":"f3e8442b.d6cce8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1830,"y":460,"wires":[]},{"id":"eeaee194.d8949","type":"http request","z":"7367f75f.e1c698","name":"CreateBucket","method":"POST","ret":"obj","url":"https://developer.api.autodesk.com/oss/v2/buckets","tls":"","x":1100,"y":140,"wires":[["c459fa40.18eaa8"]]},{"id":"d15c0014.d20c1","type":"function","z":"7367f75f.e1c698","name":"Create Payload","func":"var Auth = global.get(\"2legAuth\")\nvar key = msg.payload.name\n//var key = \"mfrdgnotcg\"\nglobal.set(\"bucketKey\", key)\nmsg.headers = {\n    \"Authorization\" : Auth,\n    \"Content-Type\" : \"application/json\"\n}\nmsg.payload  =  {\n      \"bucketKey\": key,\n      \"policyKey\":\"persistent\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":140,"wires":[["eeaee194.d8949"]]},{"id":"d2eec611.024d48","type":"ui_form","z":"7367f75f.e1c698","name":"","label":"Create a bucket","group":"5d1b35c1.f4dccc","order":0,"width":0,"height":0,"options":[{"label":"Bucket key","value":"name","type":"text","required":true}],"formValue":{"name":""},"payload":"","topic":"","x":140,"y":120,"wires":[["5567a566.95d84c","7ec90bbe.960264"]]},{"id":"91015834.7f9998","type":"function","z":"98a0edba.bc19d","name":"Set Global","func":"global.set(\"2legAuth\", \"Bearer \"+ msg.payload.access_token)\nvar newmsg = {}\nnewmsg.topic = \"auth\"\nreturn newmsg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[[]]},{"id":"486f4ba4.c14be4","type":"function","z":"98a0edba.bc19d","name":"","func":"var client_id = \"e000HQ9LYDZybWAGPOSUovs7GfQuRnqn\"\nvar client_secret = \"lnGhiAqm7avvlhvm\"\nvar grant_type = \"client_credentials\" // Must be client_credentials\nvar scope = \"bucket:create bucket:read data:write data:read\"\nvar newmsg = msg\n\nnewmsg.payload = {}\nnewmsg.payload.client_id = client_id\nnewmsg.payload.client_secret = client_secret\nnewmsg.payload.grant_type = grant_type\nnewmsg.payload.scope = scope\nnewmsg.headers = {\n    \"Content-Type\" : \"application/x-www-form-urlencoded\"\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["91c3c134.7b7f6"]]},{"id":"91c3c134.7b7f6","type":"http request","z":"98a0edba.bc19d","name":"GetOauth2","method":"POST","ret":"obj","url":"https://developer.api.autodesk.com/authentication/v1/authenticate","tls":"","x":550,"y":120,"wires":[["91015834.7f9998"]]},{"id":"7ec90bbe.960264","type":"subflow:98a0edba.bc19d","z":"7367f75f.e1c698","name":"","x":330,"y":120,"wires":[["3c8b1dc.c535ee2"]]},{"id":"b4a8d91f.5678e8","type":"ui_toast","z":"7367f75f.e1c698","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1470,"y":140,"wires":[[]]},{"id":"c459fa40.18eaa8","type":"function","z":"7367f75f.e1c698","name":"statusCheck","func":"newmsg = {}\nnewmsg.payload = {}\nif(msg.statusCode == 200){\n    newmsg.payload = \"Successfully created bucket: \" + msg.payload.bucketKey\n}\nelse if(msg.statusCode == 409){\n    newmsg.payload = \"Bucket already exists\"\n}\nelse{\n    newmsg.payload = \"Error\"\n}\nreturn newmsg;\nstatusCode","outputs":1,"noerr":0,"x":1290,"y":140,"wires":[["b4a8d91f.5678e8"]]},{"id":"c9e4d930.b91b78","type":"ui_form","z":"7367f75f.e1c698","name":"","label":"Get bucket info","group":"223638af.093be8","order":0,"width":0,"height":0,"options":[{"label":"Bucket key","value":"name","type":"text","required":true}],"formValue":{"name":""},"payload":"","topic":"","x":140,"y":340,"wires":[["29087dae.e2c712","87ac249a.87fc28"]]},{"id":"d4b7d7b8.4cfce8","type":"ui_template","z":"7367f75f.e1c698","group":"223638af.093be8","name":"","order":0,"width":"6","height":"3","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Files:</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"item in msg.payload.items\">\n  <span flex style=\"color: green\">{{item.objectKey}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1280,"y":420,"wires":[[]]},{"id":"a9a6dad2.1db078","type":"ui_template","z":"7367f75f.e1c698","group":"223638af.093be8","name":"","order":0,"width":"6","height":"3","format":"<div layout=\"column\" layout-align=\"start left\" >\n  <span flex>Bucket Key:</span>\n  <span flex style=\"color: green\">{{msg.payload.bucketKey}}</span>\n  <span flex>Policy:</span>\n  <span flex style=\"color: green\">{{msg.payload.policyKey}}</span>\n  <span flex>Created On:</span>\n  <span flex style=\"color: green\">{{msg.payload.createdDate}}</span>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1280,"y":360,"wires":[[]]},{"id":"fed3c1de.d48bf","type":"ui_form","z":"7367f75f.e1c698","name":"","label":"Upload a file","group":"a84548c4.356c38","order":0,"width":0,"height":0,"options":[{"label":"File name","value":"name","type":"text","required":true},{"label":"Bucket key","value":"key","type":"text","required":true},{"label":"Absolute Path of file","value":"path","type":"text","required":true}],"formValue":{"name":"","key":"","path":""},"payload":"","topic":"","x":130,"y":600,"wires":[["ebfecee9.a0f88","6992330b.45d7cc"]]},{"id":"24470381.a7f41c","type":"file in","z":"7367f75f.e1c698","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":850,"y":660,"wires":[["ad11586e.ae65c8"]]},{"id":"fa892e27.3e0e","type":"function","z":"7367f75f.e1c698","name":"","func":"msg.filename = msg.payload.path\nreturn msg","outputs":1,"noerr":0,"x":850,"y":620,"wires":[["24470381.a7f41c","1c76070.c0988f9"]]},{"id":"7b62d1ad.f89a2","type":"function","z":"7367f75f.e1c698","name":"Create Payload","func":"var Auth = global.get(\"2legAuth\")\nvar bucketKey = msg.payload.cred.key\nvar filename = msg.payload.cred.name\nvar newmsg = {}\n\nnewmsg.payload = msg.payload.file\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\n\nnewmsg.url =\"https://developer.api.autodesk.com/oss/v2/buckets/\"+ bucketKey +\"/objects/\"+filename\nreturn newmsg;","outputs":1,"noerr":0,"x":1540,"y":640,"wires":[["b42b9264.0bbf5"]]},{"id":"b42b9264.0bbf5","type":"http request","z":"7367f75f.e1c698","name":"Upload File","method":"PUT","ret":"obj","url":"","tls":"","x":1730,"y":640,"wires":[["d4cbc2d7.db1ed"]]},{"id":"ad11586e.ae65c8","type":"function","z":"7367f75f.e1c698","name":"topic","func":"msg.topic=\"file\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":660,"wires":[["8a6210d9.4c578"]]},{"id":"1c76070.c0988f9","type":"function","z":"7367f75f.e1c698","name":"topic","func":"msg.topic=\"cred\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":620,"wires":[["8b5f55b4.10cb78"]]},{"id":"75a719bb.e22818","type":"function","z":"7367f75f.e1c698","name":"Wait for user input","func":"context.data = context.data || {}\n\nswitch (msg.topic) {\n    case \"cred\":\n        context.data.cred = msg.payload;\n        msg = null;\n        break;\n    case \"file\":\n        context.data.file = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.cred != null && context.data.file != null) {\n\tnewmsg = {}\n    newmsg.payload = context.data;\n    context.data=null;\n\treturn newmsg;\n} else return msg;","outputs":1,"noerr":0,"x":1330,"y":640,"wires":[["7b62d1ad.f89a2"]]},{"id":"8b5f55b4.10cb78","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":620,"wires":[["75a719bb.e22818"]]},{"id":"8a6210d9.4c578","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":660,"wires":[["75a719bb.e22818"]]},{"id":"effa368f.6ce658","type":"ui_toast","z":"7367f75f.e1c698","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":2090,"y":640,"wires":[[]]},{"id":"d4cbc2d7.db1ed","type":"function","z":"7367f75f.e1c698","name":"statusCheck","func":"newmsg = {}\nnewmsg.payload = {}\nif(msg.statusCode == 200){\n    newmsg.payload = \"Successfully uploaded file: \" + msg.payload.objectKey\n}\nelse{\n    newmsg.payload = \"Error\"\n}\nreturn newmsg;","outputs":1,"noerr":0,"x":1910,"y":640,"wires":[["effa368f.6ce658"]]},{"id":"67e2ca8a.b200f4","type":"comment","z":"7367f75f.e1c698","name":"Create a Bucket","info":"Needs 2 Leg OAUTH\nBucket key needs to be unique\nPolicy key is the expiry of the bucket ","x":140,"y":80,"wires":[]},{"id":"a7a8c32.5de9a4","type":"comment","z":"7367f75f.e1c698","name":"Get bucket details and list files || key = mfrdgnotcg","info":"Needs 2 leg Oauth\nOnly accessible by bucket Creator","x":250,"y":300,"wires":[]},{"id":"899d181e.619768","type":"comment","z":"7367f75f.e1c698","name":"Upload a file from local to Bucket","info":"Needs 2 leg OAUTH \nLocal path of file and bucket Key","x":190,"y":560,"wires":[]},{"id":"83ea2354.66819","type":"function","z":"7367f75f.e1c698","name":"Create Payload","func":"var Auth = global.get(\"2legAuth\")\nvar bucketKey = msg.payload\nvar newmsg = msg\n\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\"+bucketKey+\"/objects\"\nreturn newmsg;","outputs":1,"noerr":0,"x":900,"y":900,"wires":[["bac14238.5324d"]]},{"id":"bac14238.5324d","type":"http request","z":"7367f75f.e1c698","name":"GetBucketFiles","method":"GET","ret":"obj","url":"","tls":"","x":1100,"y":900,"wires":[["1bdb9e57.fdcec2"]]},{"id":"1bdb9e57.fdcec2","type":"function","z":"7367f75f.e1c698","name":"Fill Dropdown","func":"var bucketKey, objectKey\nmsg.options = [];\n\nfor (var i = 0; i < msg.payload.items.length; i++) {\n    objectKey = msg.payload.items[i].objectKey\n    msg.options[i] = {};\n    msg.options[i][objectKey] = objectKey;\n}\nmsg.bucketKey = msg.payload.items[0].bucketKey\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":960,"wires":[["85810cad.4ac39","d31eb0f7.e24d3","77dd9744.5020e8","e72ad235.4b8c8"]]},{"id":"85810cad.4ac39","type":"ui_dropdown","z":"7367f75f.e1c698","name":"","label":"Select Model","place":"No bucket selected","group":"154191d0.75a8fe","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"Model","type":"str"}],"payload":"","topic":"model","x":1330,"y":960,"wires":[["8a17d287.97436"]]},{"id":"d31eb0f7.e24d3","type":"ui_dropdown","z":"7367f75f.e1c698","name":"","label":"Select Weather file","place":"No bucket selected","group":"154191d0.75a8fe","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"Weather File","type":"str"}],"payload":"","topic":"weather_file","x":1350,"y":1020,"wires":[["e425b2b8.9a439"]]},{"id":"8a17d287.97436","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":960,"wires":[["cd6e9edd.9abfd"]]},{"id":"e425b2b8.9a439","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":1020,"wires":[["cd6e9edd.9abfd"]]},{"id":"cd6e9edd.9abfd","type":"function","z":"7367f75f.e1c698","name":"Wait for user input","func":"context.data = context.data || {}\nvar finished = false\nswitch (msg.topic) {\n    case \"model\":\n        context.data.model = msg.payload;\n        msg = null;\n        break;\n    case \"weather_file\":\n        context.data.weather_file = msg.payload;\n        msg = null;\n        break;\n    case \"key\":\n        context.data.bucketKey = msg.payload;\n        msg = null;\n        break;\n    case \"button\":\n        finished = true;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.model != null && context.data.weather_file != null && context.data.bucketKey != null && finished == true) {\n\tnewmsg = {}\n    newmsg.payload = context.data;\n    context.data=null;\n\treturn newmsg;\n} else return msg;","outputs":1,"noerr":0,"x":1750,"y":1040,"wires":[["45bbbc48.13fa54","59a13ae6.305e84","bd9caf53.e0993","4f1dee85.5f0d3"]]},{"id":"25e6fb86.e4fc84","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":1140,"wires":[["cd6e9edd.9abfd"]]},{"id":"77dd9744.5020e8","type":"function","z":"7367f75f.e1c698","name":"bucketKey","func":"var newmsg = {}\nnewmsg.payload = msg.bucketKey\nnewmsg.topic = \"key\"\nreturn newmsg;","outputs":1,"noerr":0,"x":1330,"y":1140,"wires":[["25e6fb86.e4fc84"]]},{"id":"45bbbc48.13fa54","type":"function","z":"7367f75f.e1c698","name":"Create Payload","func":"var Auth = global.get(\"2legAuth\")\nvar newmsg = {}\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\"+ msg.payload.bucketKey +\"/objects/\"+msg.payload.model\nreturn newmsg;","outputs":1,"noerr":0,"x":1980,"y":1040,"wires":[["d817f6ad.509bb8"]]},{"id":"59a13ae6.305e84","type":"function","z":"7367f75f.e1c698","name":"Create Payload","func":"var Auth = global.get(\"2legAuth\")\nvar newmsg = {}\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\"+ msg.payload.bucketKey +\"/objects/\"+msg.payload.weather_file\nreturn newmsg;","outputs":1,"noerr":0,"x":1980,"y":1080,"wires":[["70cfcf95.4522"]]},{"id":"bd9caf53.e0993","type":"function","z":"7367f75f.e1c698","name":"API_key","func":"var project_api_key = \"565fcbbc-f500-4548-afb2-b71b30490282\"\nnewmsg = {}\nnewmsg.payload = project_api_key\nnewmsg.topic = \"apiKey\"\nreturn newmsg;","outputs":1,"noerr":0,"x":1960,"y":1120,"wires":[["984302ec.06c29"]]},{"id":"d817f6ad.509bb8","type":"http request","z":"7367f75f.e1c698","name":"Download Model","method":"GET","ret":"bin","url":"","tls":"","x":2190,"y":1040,"wires":[["22478d52.6dd612"]]},{"id":"70cfcf95.4522","type":"http request","z":"7367f75f.e1c698","name":"Download Weather File","method":"GET","ret":"bin","url":"","tls":"","x":2210,"y":1080,"wires":[["d0f28684.9c9db8"]]},{"id":"30099a4f.e926c6","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2560,"y":1040,"wires":[["c659aed8.b7a05"]]},{"id":"3de70da9.128862","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2560,"y":1080,"wires":[["c659aed8.b7a05"]]},{"id":"984302ec.06c29","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2560,"y":1120,"wires":[["c659aed8.b7a05"]]},{"id":"22478d52.6dd612","type":"function","z":"7367f75f.e1c698","name":"topic","func":"msg.topic=\"model\";\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":1040,"wires":[["30099a4f.e926c6"]]},{"id":"d0f28684.9c9db8","type":"function","z":"7367f75f.e1c698","name":"topic","func":"msg.topic=\"weather_file\";\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":1080,"wires":[["3de70da9.128862"]]},{"id":"c659aed8.b7a05","type":"function","z":"7367f75f.e1c698","name":"Wait for download","func":"context.data = context.data || {}\n\nswitch (msg.topic) {\n    case \"model\":\n        context.data.model = msg.payload;\n        msg = null;\n        break;\n    case \"weather_file\":\n        context.data.weather_file = msg.payload;\n        msg = null;\n        break;\n    case \"apiKey\":\n        context.data.project_api_key = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.model != null && context.data.weather_file != null && context.data.project_api_key != null) {\n\tnewmsg = {}\n    newmsg.payload = context.data;\n    context.data=null;\n\treturn newmsg;\n} else return msg;","outputs":1,"noerr":0,"x":2750,"y":1080,"wires":[["98a202a8.5a984"]]},{"id":"98a202a8.5a984","type":"function","z":"7367f75f.e1c698","name":"Create Payload","func":"newmsg = {}\nnewmsg.payload = {}\n\nnewmsg.headers = {\n    \"Content-Type\": \"multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW\",\n    \"Cache-Control\": \"no-cache\"\n}\nnewmsg.payload = (\"------WebKitFormBoundary7MA4YWxkTrZu0gW\\r\\nContent-Disposition: form-data; name=\\\"project_api_key\\\"\\r\\n\\r\\n565fcbbc-f500-4548-afb2-b71b30490282\\r\\n------WebKitFormBoundary7MA4YWxkTrZu0gW\\r\\nContent-Disposition: form-data; name=\\\"model\\\"; filename=\\\"model.xml\\\"\\r\\nContent-Type: application/xml\\r\\n\\r\\n\"+ (msg.payload.model) + \"\\r\\n------WebKitFormBoundary7MA4YWxkTrZu0gW\\r\\nContent-Disposition: form-data; name=\\\"weather_file\\\"; filename=\\\"chicago.epw\\\"\\r\\nContent-Type: false\\r\\n\\r\\n\"+ msg.payload.weather_file+\"\\r\\n------WebKitFormBoundary7MA4YWxkTrZu0gW--\")\n\nreturn newmsg;","outputs":1,"noerr":0,"x":2960,"y":1080,"wires":[["1a30dccc.d2c463"]]},{"id":"1a30dccc.d2c463","type":"http request","z":"7367f75f.e1c698","name":"POST to BuildSimHub Flow","method":"POST","ret":"txt","url":"http://localhost:8000/api/RunSimulationCustomize_API","tls":"","x":3200,"y":1080,"wires":[["50760483.e0ca1c"]]},{"id":"e06b7f92.f0b24","type":"comment","z":"7367f75f.e1c698","name":"Pick files and send to BuildSimHub","info":"Needs 2 leg OAUTH\nDownload files as buffer\nSend as multipart/form-data to BSH endpoint\n","x":200,"y":840,"wires":[]},{"id":"64b365d3.d7922c","type":"http response","z":"845896f3.df7ea8","name":"","statusCode":"200","headers":{"location":"http://localhost:8000/#flow/7367f75f.e1c698"},"x":680,"y":220,"wires":[]},{"id":"e72ad235.4b8c8","type":"ui_button","z":"7367f75f.e1c698","name":"","group":"154191d0.75a8fe","order":5,"width":"3","height":"1","passthru":false,"label":"Get results","color":"","bgcolor":"","icon":"","payload":"done","payloadType":"str","topic":"button","x":1330,"y":1080,"wires":[["e500adcd.82f4c"]]},{"id":"e500adcd.82f4c","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":1080,"wires":[["cd6e9edd.9abfd"]]},{"id":"d2140546.e22fb8","type":"ui_toast","z":"7367f75f.e1c698","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":3610,"y":1080,"wires":[[]]},{"id":"50760483.e0ca1c","type":"function","z":"7367f75f.e1c698","name":"statusCheck","func":"newmsg = {}\nnewmsg.payload = {}\nif(msg.statusCode == 200){\n    newmsg.payload = \"Success, files have been uploaded and are being processed\"\n}\nelse{\n    newmsg.payload = \"Error\"\n}\nreturn newmsg;","outputs":1,"noerr":0,"x":3430,"y":1080,"wires":[["d2140546.e22fb8"]]},{"id":"ef831394.5fef7","type":"ui_toast","z":"7367f75f.e1c698","position":"bottom right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2130,"y":980,"wires":[]},{"id":"4f1dee85.5f0d3","type":"function","z":"7367f75f.e1c698","name":"","func":"var newmsg = {}\nnewmsg.payload = \"Please wait...\"\nreturn newmsg","outputs":1,"noerr":0,"x":1950,"y":980,"wires":[["ef831394.5fef7"]]},{"id":"f36f34b8.2a3df8","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":180,"wires":[["c090fcf3.13f9b"]]},{"id":"c090fcf3.13f9b","type":"function","z":"7367f75f.e1c698","name":"Wait for auth","func":"context.data = context.data || {}\nvar finished = false\n\nswitch (msg.topic) {\n    case \"form\":\n        context.data = msg.payload;\n        msg = null;\n        break;\n    case \"auth\":\n        finished = true;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data != null && finished == true) {\n\tnewmsg = {}\n    newmsg.payload = context.data;\n    context.data=null;\n\treturn newmsg;\n} else return msg;","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["d15c0014.d20c1"]]},{"id":"3c8b1dc.c535ee2","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":120,"wires":[["c090fcf3.13f9b"]]},{"id":"5567a566.95d84c","type":"function","z":"7367f75f.e1c698","name":"","func":"msg.topic = \"form\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["f36f34b8.2a3df8"]]},{"id":"29087dae.e2c712","type":"subflow:98a0edba.bc19d","z":"7367f75f.e1c698","name":"","x":330,"y":340,"wires":[["b4e9e3f2.9d8cf"]]},{"id":"3897d162.c671de","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":400,"wires":[["954613c3.0ef73"]]},{"id":"b4e9e3f2.9d8cf","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":340,"wires":[["954613c3.0ef73"]]},{"id":"87ac249a.87fc28","type":"function","z":"7367f75f.e1c698","name":"","func":"msg.topic = \"form\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["3897d162.c671de"]]},{"id":"954613c3.0ef73","type":"function","z":"7367f75f.e1c698","name":"Wait for auth","func":"context.data = context.data || {}\nvar finished = false\n\nswitch (msg.topic) {\n    case \"form\":\n        context.data = msg.payload;\n        msg = null;\n        break;\n    case \"auth\":\n        finished = true;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data != null && finished == true) {\n\tnewmsg = {}\n    newmsg.payload = context.data;\n    context.data=null;\n\treturn newmsg;\n} else return msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["10358191.20235e","6cca4655.b9eb78"]]},{"id":"ebfecee9.a0f88","type":"subflow:98a0edba.bc19d","z":"7367f75f.e1c698","name":"","x":330,"y":600,"wires":[["e6e43b8.93bdac8"]]},{"id":"1d0f788e.ab5d37","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":660,"wires":[["9716bf8a.afed7"]]},{"id":"e6e43b8.93bdac8","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":600,"wires":[["9716bf8a.afed7"]]},{"id":"6992330b.45d7cc","type":"function","z":"7367f75f.e1c698","name":"","func":"msg.topic = \"form\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":660,"wires":[["1d0f788e.ab5d37"]]},{"id":"9716bf8a.afed7","type":"function","z":"7367f75f.e1c698","name":"Wait for auth","func":"context.data = context.data || {}\nvar finished = false\n\nswitch (msg.topic) {\n    case \"form\":\n        context.data = msg.payload;\n        msg = null;\n        break;\n    case \"auth\":\n        finished = true;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data != null && finished == true) {\n\tnewmsg = {}\n    newmsg.payload = context.data;\n    context.data=null;\n\treturn newmsg;\n} else return msg;","outputs":1,"noerr":0,"x":690,"y":620,"wires":[["fa892e27.3e0e"]]},{"id":"3aca97d8.0aa5b8","type":"subflow:98a0edba.bc19d","z":"7367f75f.e1c698","name":"","x":350,"y":880,"wires":[["57403f1e.8c8d9"]]},{"id":"1f99a0fc.7e55af","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":940,"wires":[["942a37b4.0f0778"]]},{"id":"57403f1e.8c8d9","type":"delay","z":"7367f75f.e1c698","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":880,"wires":[["942a37b4.0f0778"]]},{"id":"952f8cbb.87bfe","type":"function","z":"7367f75f.e1c698","name":"","func":"msg.topic = \"form\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["1f99a0fc.7e55af"]]},{"id":"942a37b4.0f0778","type":"function","z":"7367f75f.e1c698","name":"Wait for auth","func":"context.data = context.data || {}\nvar finished = false\n\nswitch (msg.topic) {\n    case \"form\":\n        context.data = msg.payload;\n        msg = null;\n        break;\n    case \"auth\":\n        finished = true;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data != null && finished == true) {\n\tnewmsg = {}\n    newmsg.payload = context.data;\n    context.data=null;\n\treturn newmsg;\n} else return msg;","outputs":1,"noerr":0,"x":710,"y":900,"wires":[["83ea2354.66819"]]},{"id":"24894251.6ca3ae","type":"ui_text_input","z":"7367f75f.e1c698","name":"","label":"Enter bucket key","group":"154191d0.75a8fe","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":150,"y":880,"wires":[["952f8cbb.87bfe","3aca97d8.0aa5b8"]]},{"id":"2c3dbbce.eecc84","type":"debug","z":"f3e8442b.d6cce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":300,"wires":[]},{"id":"993108c8.0eb0c8","type":"http request","z":"f3e8442b.d6cce8","name":"GETprojects","method":"GET","ret":"obj","url":"","tls":"","x":1290,"y":140,"wires":[["d696a1e9.a9376"]]},{"id":"6810c85d.36e448","type":"function","z":"f3e8442b.d6cce8","name":"makeURL","func":"var newmsg = msg\n\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nmsg.payload = \"b.1f269ef3-84b9-4c7a-ac21-468d4203dcaa\"\nnewmsg.url = \"https://developer.api.autodesk.com/project/v1/hubs/\"+msg.payload+\"/projects\"\nreturn newmsg;","outputs":1,"noerr":0,"x":1120,"y":140,"wires":[["993108c8.0eb0c8","d20ce511.2d3068"]]},{"id":"72b1f6a1.1573e8","type":"debug","z":"f3e8442b.d6cce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":440,"wires":[]},{"id":"d696a1e9.a9376","type":"debug","z":"f3e8442b.d6cce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data[1].relationships.issues.data.id","x":1560,"y":140,"wires":[]},{"id":"d20ce511.2d3068","type":"debug","z":"f3e8442b.d6cce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"headers.Authorization","x":1420,"y":100,"wires":[]},{"id":"5a7d964c.7ea4e8","type":"comment","z":"f3e8442b.d6cce8","name":"Needed for Forge issues ","info":"","x":1170,"y":100,"wires":[]},{"id":"f597cf98.7bc52","type":"inject","z":"1a44d9cc.13f3c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":260,"wires":[["42c476b5.44fda8"]]},{"id":"42c476b5.44fda8","type":"http request","z":"1a44d9cc.13f3c6","name":"","method":"GET","ret":"obj","url":"https://apidev.aconex.com/OAuthStatus","tls":"","x":630,"y":260,"wires":[["aeb617.e267c9e8"]]},{"id":"aeb617.e267c9e8","type":"debug","z":"1a44d9cc.13f3c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":260,"wires":[]},{"id":"2389c877.55f018","type":"inject","z":"1a44d9cc.13f3c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":360,"wires":[["f7a1483d.21ffe8"]]},{"id":"f7a1483d.21ffe8","type":"function","z":"1a44d9cc.13f3c6","name":"","func":"msg = {}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["779c8a8c.34e8f4"]]},{"id":"779c8a8c.34e8f4","type":"http request","z":"1a44d9cc.13f3c6","name":"","method":"GET","ret":"obj","url":"https://apidev.aconex.com/Logon?Action=StartOAuth&client_id=apitest&redirect_uri=http%3A%2F%2Flocalhost:8000%2Fcallback","tls":"","x":630,"y":360,"wires":[["273de892.608348"]]},{"id":"273de892.608348","type":"debug","z":"1a44d9cc.13f3c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":360,"wires":[]},{"id":"967ffef8.808d6","type":"http in","z":"1a44d9cc.13f3c6","name":"","url":"/callback","method":"get","upload":false,"swaggerDoc":"","x":240,"y":480,"wires":[["22bfed6d.0c1d62","af996b8b.089958"]]},{"id":"22bfed6d.0c1d62","type":"debug","z":"1a44d9cc.13f3c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":480,"wires":[]},{"id":"af996b8b.089958","type":"function","z":"1a44d9cc.13f3c6","name":"","func":"var code = msg.payload.code\nvar grant_type = \"authorization_code\"\nvar client_id = \"apitest\"\nvar redirect_uri = \"http%3A%2F%2Flocalhost:8000%2Fcallback\"\n\n//msg.url = \"https://sso-apidev.aconex.com/as/token.oauth2?grant_type=\"+ grant_type +\"&client_id=\"+ client_id +\"&redirect_uri=\"+ redirect_uri +\"&code=\"+ code\nmsg.url = \"https://sso-apidev.aconex.com/as/token.oauth2?grant_type=\"+ grant_type +\"&redirect_uri=\"+ redirect_uri +\"&code=\"+ code\n\nmsg.headers = {}\nmsg.headers.client_id = client_id\nmsg.payload.client_id = client_id\n//msg.payload.grant_type = grant_type\n//msg.payload.code = code\n//msg.payload.redirect_uri = redirect_uri\n//msg.headers = {\n  //  \"content-type\" : \"application/x-www-form-urlencoded\"\n//}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["fcecd454.51ce88","37e1fba5.24a3a4"]]},{"id":"fcecd454.51ce88","type":"debug","z":"1a44d9cc.13f3c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":520,"wires":[]},{"id":"37e1fba5.24a3a4","type":"http request","z":"1a44d9cc.13f3c6","name":"","method":"POST","ret":"txt","url":"","tls":"","x":640,"y":580,"wires":[["47e91905.0cf728"]]},{"id":"47e91905.0cf728","type":"debug","z":"1a44d9cc.13f3c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":560,"wires":[]},{"id":"c80e4e09.028e7","type":"comment","z":"6279d2b8.ff0a2c","name":"https://api.bimtrackbeta.co/v1/","info":"","x":140,"y":40,"wires":[]},{"id":"bf2f4fbe.97f76","type":"comment","z":"6279d2b8.ff0a2c","name":"List Issues","info":"","x":80,"y":80,"wires":[]},{"id":"24ba41ea.21615e","type":"comment","z":"6279d2b8.ff0a2c","name":"Get issue by ID","info":"","x":100,"y":140,"wires":[]},{"id":"74d91c54.f9aa24","type":"comment","z":"6279d2b8.ff0a2c","name":"Create issue","info":"","x":270,"y":140,"wires":[]},{"id":"b0383738.e1d378","type":"comment","z":"6279d2b8.ff0a2c","name":"Get subresources of type comment","info":"","x":500,"y":140,"wires":[]},{"id":"70c0b3a7.8d3b5c","type":"comment","z":"6279d2b8.ff0a2c","name":"Create comment","info":"","x":740,"y":160,"wires":[]},{"id":"fedfdabf.2bf118","type":"comment","z":"6279d2b8.ff0a2c","name":"Get subresources of type file","info":"","x":960,"y":140,"wires":[]},{"id":"b34de7ca.49c7d8","type":"comment","z":"6279d2b8.ff0a2c","name":"Upload file","info":"","x":1160,"y":160,"wires":[]},{"id":"d0249ad2.033fb8","type":"comment","z":"6279d2b8.ff0a2c","name":"Update issue by ID","info":"","x":110,"y":220,"wires":[]},{"id":"7d13f33d.bd12cc","type":"comment","z":"6279d2b8.ff0a2c","name":"Get subresources of type comment","info":"","x":360,"y":220,"wires":[]},{"id":"67f554a6.1a21ec","type":"comment","z":"6279d2b8.ff0a2c","name":"Update comment","info":"","x":600,"y":240,"wires":[]},{"id":"40bfbd9d.d38524","type":"comment","z":"6279d2b8.ff0a2c","name":"Get subresources of type file","info":"","x":820,"y":220,"wires":[]},{"id":"4ed77b16.07c034","type":"comment","z":"6279d2b8.ff0a2c","name":"Update file","info":"","x":1020,"y":240,"wires":[]},{"id":"ce38f37c.74998","type":"comment","z":"6279d2b8.ff0a2c","name":"Delete issue by ID","info":"","x":110,"y":320,"wires":[]},{"id":"963dba94.ac6e28","type":"comment","z":"6279d2b8.ff0a2c","name":"Get subresources of type comment","info":"","x":360,"y":320,"wires":[]},{"id":"79d38a56.583014","type":"comment","z":"6279d2b8.ff0a2c","name":"Delete comment","info":"","x":600,"y":340,"wires":[]},{"id":"6c1af913.37d548","type":"comment","z":"6279d2b8.ff0a2c","name":"Delete issue","info":"","x":770,"y":320,"wires":[]},{"id":"602dafe7.f4823","type":"comment","z":"6279d2b8.ff0a2c","name":"7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871","info":"","x":550,"y":40,"wires":[]},{"id":"ffbf633a.50497","type":"function","z":"6279d2b8.ff0a2c","name":"Get all hubs","func":"newmsg = {}\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub\"\nreturn newmsg;","outputs":1,"noerr":0,"x":270,"y":1580,"wires":[["d7ec4143.0caaa","4c8f77f8.a2ea78"]]},{"id":"17c573cd.c1593c","type":"inject","z":"6279d2b8.ff0a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1580,"wires":[["ffbf633a.50497"]]},{"id":"d7ec4143.0caaa","type":"http request","z":"6279d2b8.ff0a2c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":1580,"wires":[["d8eb04a4.8b6e18"]]},{"id":"d8eb04a4.8b6e18","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":1580,"wires":[]},{"id":"4c8f77f8.a2ea78","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":1640,"wires":[]},{"id":"c17604be.8b8848","type":"function","z":"6279d2b8.ff0a2c","name":"Get hub","func":"newmsg = {}\nvar hubId = 192;\n\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId\nreturn newmsg;","outputs":1,"noerr":0,"x":260,"y":1700,"wires":[["dce9d413.272968","62bb9d0a.363334"]]},{"id":"91af91c5.6910b","type":"inject","z":"6279d2b8.ff0a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1700,"wires":[["c17604be.8b8848"]]},{"id":"dce9d413.272968","type":"http request","z":"6279d2b8.ff0a2c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":1700,"wires":[["aaf676b6.2510d8"]]},{"id":"aaf676b6.2510d8","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":1700,"wires":[]},{"id":"62bb9d0a.363334","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":1760,"wires":[]},{"id":"b34cc41c.07aff8","type":"function","z":"6279d2b8.ff0a2c","name":"get issues list","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\n\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issues?sort=%2BNumber\"\nreturn newmsg;","outputs":1,"noerr":0,"x":280,"y":1820,"wires":[["cbd144c5.3dd478","b45b5f33.12cfc"]]},{"id":"9fa536ae.1a6858","type":"inject","z":"6279d2b8.ff0a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1820,"wires":[["b34cc41c.07aff8"]]},{"id":"cbd144c5.3dd478","type":"http request","z":"6279d2b8.ff0a2c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":1820,"wires":[["1ee68bd9.82ebc4"]]},{"id":"1ee68bd9.82ebc4","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":1820,"wires":[]},{"id":"b45b5f33.12cfc","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":1880,"wires":[]},{"id":"90668773.8913d8","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar auth = global.get(\"auth\")\nvar hubId = 192;\nvar projectId = 334;\nvar issueId = 13308;\n\nnewmsg.headers = {\n    \"Authorization\": auth\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issue/by/id?issueId=\"+ issueId\nreturn newmsg;","outputs":1,"noerr":0,"x":560,"y":800,"wires":[["80815cbb.8f226"]]},{"id":"80815cbb.8f226","type":"http request","z":"6279d2b8.ff0a2c","name":"get issue by id","method":"GET","ret":"obj","url":"","tls":"","x":760,"y":800,"wires":[["556c1ef9.e9561","2ba92415.e7485c"]]},{"id":"556c1ef9.e9561","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":760,"wires":[]},{"id":"9ec024bb.cd0f28","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\n\nnewmsg.payload = {\n    \"Title\": \"TestIssue\"\n}\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co//v1/hub/\"+ hubId +\"/project/\"+projectId+\"/issue/add\"\nreturn newmsg;\n","outputs":1,"noerr":0,"x":1140,"y":800,"wires":[["2d1ae7de.7594c8"]]},{"id":"2d1ae7de.7594c8","type":"http request","z":"6279d2b8.ff0a2c","name":"Create issue","method":"POST","ret":"obj","url":"","tls":"","x":1330,"y":800,"wires":[["cf2fc0ba.52b9d","cec05073.92b07"]]},{"id":"cf2fc0ba.52b9d","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1370,"y":760,"wires":[]},{"id":"231ee502.b0e32a","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\nvar issueId = 13308;\n\nnewmsg.payload = {\n    \"Comment\": \"Test Comment\"\n}\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issue/\"+ issueId +\"/comments\"\nreturn newmsg;\n","outputs":1,"noerr":0,"x":560,"y":880,"wires":[["68af880b.3d1a28"]]},{"id":"68af880b.3d1a28","type":"http request","z":"6279d2b8.ff0a2c","name":"Create comment","method":"POST","ret":"obj","url":"","tls":"","x":760,"y":880,"wires":[["1df5267c.47b5aa","44b9ccf.b1c8834"]]},{"id":"1df5267c.47b5aa","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":880,"wires":[]},{"id":"33f68b79.a77454","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\nvar issueId = 13308;\nvar file = \"\";\n\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\",\n    \"Content-Type\": \"multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW\"\n}\n\nnewmsg.payload = {}\nnewmsg.payload = (\"------WebKitFormBoundary7MA4YWxkTrZu0gW\\r\\nContent-Disposition: form-data; name=\\\"file\\\"; filename=\\\"testFile\\\"\\r\\nContent-Type: false\\r\\n\\r\\n\\r\\n\"+ file + \"\\r\\n------WebKitFormBoundary7MA4YWxkTrZu0gW--\")\n\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issue/\"+ issueId +\"/attachment/add\"\nreturn newmsg;","outputs":1,"noerr":0,"x":560,"y":940,"wires":[["f181fd7e.56e4e"]]},{"id":"f181fd7e.56e4e","type":"http request","z":"6279d2b8.ff0a2c","name":"Upload file","method":"POST","ret":"obj","url":"","tls":"","x":750,"y":940,"wires":[["63ddd19b.0ed59","5c06149d.66934c"]]},{"id":"63ddd19b.0ed59","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":980,"wires":[]},{"id":"c2fc638.465a3a","type":"comment","z":"6279d2b8.ff0a2c","name":"Loop","info":"","x":570,"y":300,"wires":[]},{"id":"7e933422.be9dbc","type":"comment","z":"6279d2b8.ff0a2c","name":"Loop","info":"","x":570,"y":200,"wires":[]},{"id":"4a045739.e8dac8","type":"function","z":"6279d2b8.ff0a2c","name":"Update Issue","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\n\nnewmsg.payload = {\n        \"Id\": 0,\n        \"Title\": \"string\"\n    \n}\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issue/update\"\nreturn newmsg;\n","outputs":1,"noerr":0,"x":270,"y":2140,"wires":[["132cb783.fe5098","5c73abd8.00b244"]]},{"id":"1beea591.28a10a","type":"inject","z":"6279d2b8.ff0a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2140,"wires":[["4a045739.e8dac8"]]},{"id":"132cb783.fe5098","type":"http request","z":"6279d2b8.ff0a2c","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":490,"y":2140,"wires":[["1077aa54.707a36"]]},{"id":"1077aa54.707a36","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":2140,"wires":[]},{"id":"5c73abd8.00b244","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":2200,"wires":[]},{"id":"1eebef9c.bfc5e","type":"function","z":"6279d2b8.ff0a2c","name":"Delete Issue","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\n\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issues/remove\"\nreturn newmsg;\n","outputs":1,"noerr":0,"x":270,"y":2400,"wires":[["fe6f415e.00798","dd864a94.2d10f8"]]},{"id":"702186fe.4e8ee8","type":"inject","z":"6279d2b8.ff0a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2400,"wires":[["1eebef9c.bfc5e"]]},{"id":"fe6f415e.00798","type":"http request","z":"6279d2b8.ff0a2c","name":"","method":"DELETE","ret":"obj","url":"","tls":"","x":490,"y":2400,"wires":[["a144ede1.ca747"]]},{"id":"a144ede1.ca747","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":2400,"wires":[]},{"id":"dd864a94.2d10f8","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":2460,"wires":[]},{"id":"ffef6cca.360b6","type":"comment","z":"6279d2b8.ff0a2c","name":"Not working","info":"doesnt work on website either\nhttps://api.bimtrackbeta.co/swagger/index#!/Issue/Issue_UpdateIssue\n\"A requested resource was not found.\"","x":471.99999237060547,"y":2136.9999237060547,"wires":[]},{"id":"ad2e04a2.44aef8","type":"comment","z":"6279d2b8.ff0a2c","name":"Jenca?? Api key not the same as the login account. Login hubs are bimlauncher","info":"","x":700,"y":1600,"wires":[]},{"id":"4ef32af6.0f4f64","type":"http in","z":"6279d2b8.ff0a2c","name":"bim-track/poll","url":"/dest/poll","method":"get","upload":false,"swaggerDoc":"","x":130,"y":520,"wires":[["c1b51080.5abb"]]},{"id":"1d88a67d.3b687a","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar auth = global.get(\"auth\")\nvar hubId = 192;\nvar projectId = 334;\n\nnewmsg.headers = {\n    \"Authorization\": auth\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issues?sort=%2BNumber\"\nreturn newmsg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["fdfcd3ee.cf67"]]},{"id":"fdfcd3ee.cf67","type":"http request","z":"6279d2b8.ff0a2c","name":"list issues","method":"GET","ret":"obj","url":"","tls":"","x":740,"y":520,"wires":[["90738877.3472f8"]]},{"id":"a1f279cf.bd9968","type":"http response","z":"6279d2b8.ff0a2c","name":"Bim-Track Response","statusCode":"","headers":{"content-type":"application/json"},"x":1120,"y":520,"wires":[]},{"id":"c1b51080.5abb","type":"function","z":"6279d2b8.ff0a2c","name":"Set Global API Key","func":"var key = \"7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\nglobal.set(\"auth\", \"Bearer \"+ key)\n\nreturn 1;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["1d88a67d.3b687a"]]},{"id":"5bdae069.24bdb","type":"comment","z":"6279d2b8.ff0a2c","name":"What does this need to do","info":"","x":910,"y":540,"wires":[]},{"id":"59064fa3.225bb","type":"http in","z":"6279d2b8.ff0a2c","name":"GET/bim-track/:id","url":"/dest/","method":"get","upload":false,"swaggerDoc":"","x":140,"y":660,"wires":[["a951e125.d5084"]]},{"id":"3798fab8.107416","type":"http in","z":"6279d2b8.ff0a2c","name":"POST/ bim-track","url":"/dest","method":"post","upload":false,"swaggerDoc":"","x":140,"y":800,"wires":[["86c8138c.55496"]]},{"id":"ed19df97.9b2f3","type":"http in","z":"6279d2b8.ff0a2c","name":"PUT/bim-track/:id","url":"/dest/:uniqueId","method":"put","upload":false,"swaggerDoc":"","x":140,"y":1140,"wires":[["249716b4.4968da"]]},{"id":"e291f161.5292","type":"http in","z":"6279d2b8.ff0a2c","name":"DELETE/bim-track/:id","url":"/dest/:uniqueId","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":1320,"wires":[["9c0384d5.653dc8"]]},{"id":"86c8138c.55496","type":"function","z":"6279d2b8.ff0a2c","name":"Set Global API Key","func":"var key = \"7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\nglobal.set(\"auth\", \"Bearer \"+ key)\n\nreturn 1;","outputs":1,"noerr":0,"x":350,"y":800,"wires":[["90668773.8913d8"]]},{"id":"5c06149d.66934c","type":"http response","z":"6279d2b8.ff0a2c","name":"Bim-Track Response","statusCode":"","headers":{"content-type":"application/json"},"x":1040,"y":940,"wires":[]},{"id":"cec05073.92b07","type":"function","z":"6279d2b8.ff0a2c","name":"placeholder","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["231ee502.b0e32a"]]},{"id":"44b9ccf.b1c8834","type":"function","z":"6279d2b8.ff0a2c","name":"placeholder","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["33f68b79.a77454"]]},{"id":"2ba92415.e7485c","type":"function","z":"6279d2b8.ff0a2c","name":"placeholder","func":"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":800,"wires":[["9ec024bb.cd0f28"]]},{"id":"90738877.3472f8","type":"function","z":"6279d2b8.ff0a2c","name":"placeholder","func":"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":520,"wires":[["a1f279cf.bd9968"]]},{"id":"9c0384d5.653dc8","type":"function","z":"6279d2b8.ff0a2c","name":"Delete Issue","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\n\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issues/remove\"\nreturn newmsg;\n","outputs":1,"noerr":0,"x":550,"y":1320,"wires":[["14a29702.972c99"]]},{"id":"14a29702.972c99","type":"http request","z":"6279d2b8.ff0a2c","name":"","method":"DELETE","ret":"obj","url":"","tls":"","x":750,"y":1320,"wires":[["37bbb15.4a4294e","6aaaf146.9afcd"]]},{"id":"37bbb15.4a4294e","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":1380,"wires":[]},{"id":"6aaaf146.9afcd","type":"http response","z":"6279d2b8.ff0a2c","name":"Bim-Track Response","statusCode":"","headers":{"content-type":"application/json"},"x":1000,"y":1320,"wires":[]},{"id":"c6e2cce0.3207b","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\nvar issueId = 13308;\n\nnewmsg.payload = {\n    \"Comment\": \"Test Comment\"\n}\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issue/\"+ issueId +\"/comments\"\nreturn newmsg;\n","outputs":1,"noerr":0,"x":280,"y":2040,"wires":[["2f7b4963.997636","8b7bcc81.18151"]]},{"id":"2f7b4963.997636","type":"http request","z":"6279d2b8.ff0a2c","name":"Create comment","method":"POST","ret":"obj","url":"","tls":"","x":500,"y":2040,"wires":[["ccbbda3a.0f1f88"]]},{"id":"ccbbda3a.0f1f88","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":2040,"wires":[]},{"id":"978a4600.8071d8","type":"inject","z":"6279d2b8.ff0a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2040,"wires":[["c6e2cce0.3207b"]]},{"id":"8b7bcc81.18151","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":2080,"wires":[]},{"id":"14de31c2.92de0e","type":"comment","z":"6279d2b8.ff0a2c","name":"Loop","info":"","x":1010,"y":200,"wires":[]},{"id":"debbdb3a.2f74e8","type":"comment","z":"6279d2b8.ff0a2c","name":"Loop","info":"","x":1150,"y":120,"wires":[]},{"id":"2306a44d.57ff8c","type":"comment","z":"6279d2b8.ff0a2c","name":"Loop","info":"","x":710,"y":120,"wires":[]},{"id":"aeb406c.4adeff8","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar hubId = 192;\nvar projectId = 334;\nvar issueId = 13308;\nvar file = \"\";\n\nnewmsg.headers = {\n    \"Authorization\": \"Bearer 7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\",\n    \"Content-Type\": \"multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW\"\n}\n\nnewmsg.payload = {}\nnewmsg.payload = (\"------WebKitFormBoundary7MA4YWxkTrZu0gW\\r\\nContent-Disposition: form-data; name=\\\"file\\\"; filename=\\\"testFile\\\"\\r\\nContent-Type: false\\r\\n\\r\\n\\r\\n\"+ file + \"\\r\\n------WebKitFormBoundary7MA4YWxkTrZu0gW--\")\n\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issue/\"+ issueId +\"/attachment/add\"\nreturn newmsg;","outputs":1,"noerr":0,"x":280,"y":2260,"wires":[["917ff698.41c628","456b3052.2f295"]]},{"id":"917ff698.41c628","type":"http request","z":"6279d2b8.ff0a2c","name":"Upload file","method":"POST","ret":"obj","url":"","tls":"","x":490,"y":2260,"wires":[["ae70cc38.b0ffa"]]},{"id":"ae70cc38.b0ffa","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":2260,"wires":[]},{"id":"dd2a0786.b89068","type":"inject","z":"6279d2b8.ff0a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2260,"wires":[["aeb406c.4adeff8"]]},{"id":"456b3052.2f295","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":2320,"wires":[]},{"id":"12ccdb63.7f88b5","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar auth = global.get(\"auth\")\nvar hubId = 192;\nvar projectId = 334;\nvar issueId = 13308;\n\nnewmsg.headers = {\n    \"Authorization\": auth\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issue/by/id?issueId=\"+ issueId\nreturn newmsg;","outputs":1,"noerr":0,"x":280,"y":1940,"wires":[["9b6eb36d.70ecb","2da9f61c.406a0a"]]},{"id":"9b6eb36d.70ecb","type":"http request","z":"6279d2b8.ff0a2c","name":"get issue by id","method":"GET","ret":"obj","url":"","tls":"","x":500,"y":1940,"wires":[["b759fe24.a9bc4"]]},{"id":"b759fe24.a9bc4","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":1940,"wires":[]},{"id":"2da9f61c.406a0a","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":1980,"wires":[]},{"id":"4107f358.46e37c","type":"inject","z":"6279d2b8.ff0a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1940,"wires":[["12ccdb63.7f88b5"]]},{"id":"d4732a99.6d5618","type":"function","z":"6279d2b8.ff0a2c","name":"Create Payload","func":"newmsg = {}\nvar auth = global.get(\"auth\")\nvar hubId = 192;\nvar projectId = 334;\nvar issueId = 13308;\n\nnewmsg.headers = {\n    \"Authorization\": auth\n}\nnewmsg.url = \"https://api.bimtrackbeta.co/v1/hub/\"+ hubId +\"/project/\"+ projectId +\"/issue/by/id?issueId=\"+ issueId\nreturn newmsg;","outputs":1,"noerr":0,"x":560,"y":1140,"wires":[["afd4def4.c3cb4"]]},{"id":"afd4def4.c3cb4","type":"http request","z":"6279d2b8.ff0a2c","name":"get issue by id","method":"GET","ret":"obj","url":"","tls":"","x":760,"y":1140,"wires":[["5963e71a.93ebc8","a65cd2bb.461ae"]]},{"id":"5963e71a.93ebc8","type":"debug","z":"6279d2b8.ff0a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":1180,"wires":[]},{"id":"249716b4.4968da","type":"function","z":"6279d2b8.ff0a2c","name":"Set Global API Key","func":"var key = \"7d4f9f60ca438dc85665847ad4680948848d7de8f72c0ebd716c0d8f90109871\"\nglobal.set(\"auth\", \"Bearer \"+ key)\n\nreturn 1;","outputs":1,"noerr":0,"x":350,"y":1140,"wires":[["d4732a99.6d5618"]]},{"id":"a65cd2bb.461ae","type":"function","z":"6279d2b8.ff0a2c","name":"placeholder","func":"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1140,"wires":[[]]},{"id":"fe968eef.fcf82","type":"comment","z":"6279d2b8.ff0a2c","name":"Update issue, comment, file","info":"","x":1180,"y":1140,"wires":[]},{"id":"a951e125.d5084","type":"function","z":"6279d2b8.ff0a2c","name":"placeholder","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["8ea9bce.0538d4"]]},{"id":"8ea9bce.0538d4","type":"http response","z":"6279d2b8.ff0a2c","name":"Bim-Track Response","statusCode":"","headers":{"content-type":"application/json"},"x":580,"y":660,"wires":[]},{"id":"9479c85f.bfdc68","type":"comment","z":"6279d2b8.ff0a2c","name":"Loops","info":"","x":750,"y":900,"wires":[]}]