flows.json
[{"id":"845896f3.df7ea8","type":"tab","label":"Demo v.1","disabled":false,"info":"BuildSimHub demo v1"},{"id":"f24e0467.202398","type":"tab","label":"Dashboard WIP","disabled":true,"info":""},{"id":"30918288.adf97e","type":"tab","label":"Forge buckets","disabled":true,"info":""},{"id":"89d475b9.0a1c68","type":"tab","label":"Recap","disabled":true,"info":""},{"id":"f3e8442b.d6cce8","type":"tab","label":"BIM360","disabled":false,"info":""},{"id":"7367f75f.e1c698","type":"tab","label":"OSS","disabled":false,"info":""},{"id":"277c0ba1.558da4","type":"subflow","name":"Forge Authenticate","info":"Returns ab object ","in":[],"out":[{"x":860,"y":240,"wires":[{"id":"f89ba2e3.95c2","port":0}]}]},{"id":"a8b19b0d.03afb8","type":"swagger configuration","z":"","apiUrl":"https://raw.githubusercontent.com/weilixu/buildsimhub_python_api/master/bsh_openapi.yaml","name":"buildsimhub"},{"id":"9ea0f41d.6966b8","type":"swagger configuration","z":"","apiUrl":"https://raw.githubusercontent.com/speckleworks/SpeckleSpecs/master/SpeckleV1OpenApiSpecs.yaml","name":"Speckle"},{"id":"75874306.372f5c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#791a09","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Build Sim Hub Demo","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":12,"cy":12,"px":0,"py":0}}},{"id":"d20574b3.c07a08","type":"ui_group","z":"","name":"TotalSiteEUI","tab":"1c4d66e5.9cb949","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c4d66e5.9cb949","type":"ui_tab","z":"","name":"Results","icon":"dashboard","order":3},{"id":"8ce35df4.8991c","type":"swagger configuration","z":null,"apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/bd8d58014092e5f4e0e29c68187fe8cdae6fb4d5/Forge-Swagger","name":""},{"id":"bb1498e.c67d168","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/7b86fe16d298359dcebc630d42f8b2a1cd7fc70d/Forge-Swagger","name":""},{"id":"34df404.a5bdbc","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/00d00e9ca6733a02d2965f8ea07a382a72f7e46a/Forge-Swagger","name":""},{"id":"329c7829.59f218","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"77e841bd.045e8","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/00d00e9ca6733a02d2965f8ea07a382a72f7e46a/Forge-Swagger","name":""},{"id":"db4463e0.3304f","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/85a5a60bbcdb8e185480453b28ab370a/raw/05410e23f79d905930adfdd74c9daeda900b85c8/Forge-Swagger","name":""},{"id":"fcbb6073.6c4c5","type":"ui_group","z":"","name":"Select your files","tab":"1c4d66e5.9cb949","disp":true,"width":"6","collapse":false},{"id":"86dee3b5.5fce4","type":"ui_group","z":"","name":"Total set point hours not met","tab":"1c4d66e5.9cb949","disp":true,"width":"6","collapse":false},{"id":"2bb38f9c.e114f","type":"ui_group","z":"","name":"Building lighting power density","tab":"1c4d66e5.9cb949","disp":true,"width":"6","collapse":false},{"id":"afce7074.a74d5","type":"ui_group","z":"","name":"Bulding people density","tab":"1c4d66e5.9cb949","order":5,"disp":true,"width":"6","collapse":false},{"id":"79f14a11.6a5cb4","type":"ui_group","z":"","name":"Building plug power density","tab":"1c4d66e5.9cb949","order":6,"disp":true,"width":"6","collapse":false},{"id":"fface127.e195d","type":"swagger configuration","z":"","apiUrl":"https://gist.githubusercontent.com/bigdoods/64554315585b9fff54c4c2c20cb0a557/raw/ebb4c46d3be1fc8bc6f15cf76ba9b914f0a2ec7e/recap-swagger","name":""},{"id":"da886441.6ec078","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"60ed7674.d94cb8","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"f8bce394.dafc6","type":"ui_tab","z":"","name":"Results Tab","icon":"dashboard","order":5},{"id":"15d6b287.1f8aad","type":"ui_group","z":"","name":"TotalSiteEUI","tab":"f8bce394.dafc6","order":2,"disp":true,"width":"8","collapse":false},{"id":"ceb616a1.d7b6f8","type":"ui_group","z":"","name":"Total set point hours not met","tab":"f8bce394.dafc6","order":3,"disp":true,"width":"8","collapse":false},{"id":"88cb33f2.c28c4","type":"ui_group","z":"","name":"Building lighting power density","tab":"f8bce394.dafc6","order":4,"disp":true,"width":"8","collapse":false},{"id":"30ec2a16.3f1816","type":"ui_group","z":"","name":"Building people density","tab":"f8bce394.dafc6","order":5,"disp":true,"width":"8","collapse":false},{"id":"473757bd.84ce28","type":"ui_group","z":"","name":"Building plug power density","tab":"f8bce394.dafc6","order":6,"disp":true,"width":"8","collapse":false},{"id":"8d91b48c.59a208","type":"ui_group","z":"","name":"TestUITemplate","tab":"f8bce394.dafc6","order":1,"disp":true,"width":"6","collapse":false},{"id":"d3c05f4f.2d6ae","type":"ui_group","z":"","name":"Example Gauge","tab":"","disp":true,"width":"9","collapse":false},{"id":"7369a109.23fa1","type":"ui_tab","z":"","name":"Configuration","icon":"dashboard","order":2},{"id":"936d274c.dbb418","type":"ui_group","z":"","name":"Select your Files","tab":"7369a109.23fa1","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4322ad5.4ff428","type":"ui_link","z":"","name":"Sign in to Forge!","link":"https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=mBmA7fzkNA5OWhDhcFPCXxfIM4YsuAHT&redirect_uri=http%3A%2F%2Flocalhost:8000%2Fapi%2Foauth%2Fcallback&scope=bucket:read%20data:read%20data:write","icon":"open_in_browser","target":"newtab","order":1},{"id":"af6901b5.93649","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"post_RunSimulationCustomize_API","inType":"","outType":"","name":"Run Sim","x":500,"y":440,"wires":[["9ff52a2d.f871d8","4b1d96fa.b072c8"]]},{"id":"e04c116b.5fe51","type":"http in","z":"845896f3.df7ea8","name":"","url":"/RunSimulationCustomize_API","method":"post","upload":true,"swaggerDoc":"","x":380,"y":400,"wires":[["af6901b5.93649","e8e60f8c.4116c"]]},{"id":"dbe00230.c8dbe","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_TrackSimulation_API","inType":"","outType":"","name":"","x":770,"y":480,"wires":[["1c34c6f9.ef2d39","6e3ef4bd.6a8cec"]]},{"id":"9ff52a2d.f871d8","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var key = global.get(\"token\")\nvar http = msg.res\n\nif (msg.payload[\"status\"] === \"success\"){\n    var tracking = msg.payload.tracking\n    return [{\n        payload:{\n            track_token: tracking, \n            project_api_key: key\n        },\n        giraffe:{\n            track_token: tracking, \n            project_api_key: key\n        },\n        res: http\n    }]\n}\n","outputs":1,"noerr":0,"x":770,"y":440,"wires":[["dbe00230.c8dbe"]]},{"id":"e8e60f8c.4116c","type":"function","z":"845896f3.df7ea8","name":"setGlobalToken","func":"global.set(\"token\", msg.payload.project_api_key);  // this is now available to other nodes\nglobal.set(\"more\", \"true\")\n\nreturn msg","outputs":1,"noerr":0,"x":480,"y":360,"wires":[[]]},{"id":"a4e7389f.48dbf8","type":"delay","z":"845896f3.df7ea8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":600,"wires":[["3e313505.5755aa"]]},{"id":"1c34c6f9.ef2d39","type":"switch","z":"845896f3.df7ea8","name":"","property":"payload.has_more","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":637,"wires":[["a4e7389f.48dbf8"],["183fd84f.011148","e52c59a9.70bf88","9b5d5d4b.96c5d","dfbca8d0.f08c48","5f7d3081.15215","ad068560.38d7f8"]]},{"id":"3e313505.5755aa","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":790,"y":620,"wires":[["dbe00230.c8dbe"]]},{"id":"273486b2.4d794a","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1160,"y":757,"wires":[["c064a855.c8d368","ee72a523.a38058","f20fe3a8.978d3"]]},{"id":"9b5d5d4b.96c5d","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI'\n        //]\n        request_data: \"TotalSiteEUI\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":850,"y":757,"wires":[["273486b2.4d794a"]]},{"id":"e61e5f68.eb00a","type":"inject","z":"f24e0467.202398","name":"","topic":"","payload":"115.56","payloadType":"num","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["3e28c558.fa0bfa"]]},{"id":"3e28c558.fa0bfa","type":"function","z":"f24e0467.202398","name":"Random number","func":"// msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["9ce1ff7d.855ab","30694bc4.d2f564","1136d046.4a97e","1ae234da.4ceb2b","e7d56512.ad42f8","f7911530.9879b8","1f1a3b85.4ce4f4","7184aca7.b87114","5308e0f5.502a1","d51ca3b.c02c36"]]},{"id":"9ce1ff7d.855ab","type":"debug","z":"f24e0467.202398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":300,"wires":[]},{"id":"30694bc4.d2f564","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"kBtu/ft2","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":480,"wires":[]},{"id":"1136d046.4a97e","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"gtype":"donut","title":"","label":"kBtu/ft2","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":540,"wires":[]},{"id":"1ae234da.4ceb2b","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"kBtu/ft2","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":600,"wires":[]},{"id":"e7d56512.ad42f8","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"kBtu/ft2","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":660,"wires":[]},{"id":"3e644b6b.30e3d4","type":"swagger api","z":"30918288.adf97e","apiConfig":"34df404.a5bdbc","resource":"Data Management API","method":"OssV2BucketsGet","inType":"","outType":"","name":"","x":640,"y":140,"wires":[[]]},{"id":"87bd61df.73855","type":"function","z":"30918288.adf97e","name":"","func":"// var key = global.get(\"forgeToken\")\nvar access = msg.payload.access_token\nvar type = msg.payload.token_type\n\nmsg.payload.Authorization = type + ' ' + access ;\n\nreturn msg","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["3e644b6b.30e3d4"]]},{"id":"3aac354b.32153a","type":"http response","z":"30918288.adf97e","name":"","statusCode":"301","headers":{"location":"http://localhost:8000/api/ui/#/1"},"x":480,"y":560,"wires":[]},{"id":"253df14f.8b9cfe","type":"comment","z":"30918288.adf97e","name":"","info":"# Get Buckets\n\nrequires auth\n* scope value in Postman = bucket:read data:read data:write","x":530,"y":60,"wires":[]},{"id":"8c9e40ae.6c1df","type":"http in","z":"277c0ba1.558da4","name":"","url":"authentication/v1/authenticate","method":"post","upload":false,"swaggerDoc":"","x":280,"y":260,"wires":[["f89ba2e3.95c2"]]},{"id":"f89ba2e3.95c2","type":"swagger api","z":"277c0ba1.558da4","apiConfig":"bb1498e.c67d168","resource":"Authenticate (OAuth)","method":"AuthenticationV1AuthenticatePost","inType":"","outType":"","name":"","x":470,"y":320,"wires":[["c4e38b74.10de28"]]},{"id":"c4e38b74.10de28","type":"function","z":"277c0ba1.558da4","name":"Set Forge Token Global","func":"if (msg.payload[\"access_token\"]){\n    global.set(\"forgeToken\", msg.payload.access_token);  // this is now available to other nodes\n    if (global.get(\"forgeToken\")){\n        console.log(\"OK - forgeToken set\")\n    } else {\n        return {\"error\": \"Forge token not set\"}\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[[]]},{"id":"5fb547dc.7b8d18","type":"comment","z":"277c0ba1.558da4","name":"comments","info":"# Authentication\n\n* Set access_token as global\n* Todo: Log function output to debug","x":320,"y":200,"wires":[]},{"id":"16e0cd1d.fbbd03","type":"subflow:277c0ba1.558da4","z":"30918288.adf97e","name":"Forge Authenticate","x":270,"y":100,"wires":[["f01794b5.3a42f8"]]},{"id":"f20fe3a8.978d3","type":"ui_text","z":"845896f3.df7ea8","group":"d20574b3.c07a08","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.data.value}}","format":"{{msg.payload.data.unit}}","layout":"col-center","x":1470,"y":757,"wires":[]},{"id":"8a3367f1.2627a8","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":600,"wires":[]},{"id":"1d39d9c8.6e7a46","type":"http in","z":"30918288.adf97e","name":"","url":"/oauth/callback","method":"get","upload":false,"swaggerDoc":"","x":200,"y":320,"wires":[["f01794b5.3a42f8","d9f6aefb.86477"]]},{"id":"ffc480e0.851bd","type":"swagger api","z":"30918288.adf97e","apiConfig":"77e841bd.045e8","resource":"Authenticate (OAuth)","method":"AuthenticationV1getToken","inType":"","outType":"","name":"","x":280,"y":500,"wires":[["799e811b.a9d3b","3aac354b.32153a","f3b71e3e.3d104"]]},{"id":"d9f6aefb.86477","type":"function","z":"30918288.adf97e","name":"","func":"var client_id = \"e000HQ9LYDZybWAGPOSUovs7GfQuRnqn\"\nvar client_secret = \"lnGhiAqm7avvlhvm\"\nvar grant_type = \"authorization_code\" // Must be authorization_code\nvar code = msg.payload.code //The authorization code captured from the code query parameter when the GET authorize redirected back to the callback URL\nvar redirect_uri = \"http://localhost:8000/api/oauth/callback\"\n\nmsg.payload.client_id = client_id\nmsg.payload.client_secret = client_secret\nmsg.payload.grant_type = grant_type\nmsg.payload.code = code\nmsg.payload.redirect_uri = redirect_uri\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["ffc480e0.851bd","cb387483.18dc08"]]},{"id":"799e811b.a9d3b","type":"function","z":"30918288.adf97e","name":"Set Global Access, Refresh","func":"global.set(\"access_token\", msg.payload.access_token)\nglobal.set(\"refresh_token\", msg.payload.refresh_token)\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["ab30bf34.dc2be"]]},{"id":"22d68f2e.c08ad","type":"swagger api","z":"30918288.adf97e","apiConfig":"db4463e0.3304f","resource":"Hubs","method":"ProjectV1HubsGet","inType":"","outType":"","name":"","x":750,"y":500,"wires":[["7ded5ddc.4c2934","2ec7d9c5.9da1e6"]]},{"id":"ab30bf34.dc2be","type":"function","z":"30918288.adf97e","name":"","func":"var token = global.get(\"access_token\")\n\nmsg.payload.Authorization = \"Bearer\" + \" \" + token\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["22d68f2e.c08ad","d13ad9ad.8b6988"]]},{"id":"7ded5ddc.4c2934","type":"function","z":"30918288.adf97e","name":"","func":"msg.options = []\n\nfor (i = 0; i < msg.payload.data.length; i++) { \n    msg.options.push({[msg.payload.data[i].attributes.name]: msg.payload.data[i].id  })\n    //msg.options[i][msg.payload.data[i].attributes.name] = msg.payload.data[i].id\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["8a3367f1.2627a8"]]},{"id":"e52c59a9.70bf88","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD',\n        // 'BuildingEPD'\n        //]\n        request_data: \"NotMetHoursCooling\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":850,"y":857,"wires":[["8f4b64dd.6204f8"]]},{"id":"8f4b64dd.6204f8","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1160,"y":857,"wires":[["b678cae1.40f4d8"]]},{"id":"aab551e9.3f22","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1160,"y":917,"wires":[["d7c00af8.52ee68"]]},{"id":"183fd84f.011148","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD',\n        // 'BuildingEPD'\n        //]\n        request_data: \"NotMetHoursHeating\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":850,"y":917,"wires":[["aab551e9.3f22"]]},{"id":"b769a9fc.7efe78","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var coolVal = msg.paths.NotMetHoursHeating.value\nvar coolUnit = msg.paths.NotMetHoursHeating.unit\nvar heatVal = msg.paths.NotMetHoursCooling.value\nvar heatUnit = msg.paths.NotMetHoursCooling.unit\n\n// Total setpoint hours not met(tshnm) = NotMetHoursCooling - NotMetHoursHeating\nvar tshnm = coolVal - heatVal\n\nvar lol = { \"totalSetPointHoursNotMet\": {\n    \"value\":tshnm,\n    \"unit\": heatUnit\n    }\n}\n\n\nreturn {payload: lol}","outputs":1,"noerr":0,"x":1830,"y":897,"wires":[["2bf3a002.b5c5c","ff59b.7eb79a658"]]},{"id":"d7c00af8.52ee68","type":"change","z":"845896f3.df7ea8","name":"","rules":[{"t":"set","p":"paths[\"NotMetHoursHeating\"]","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":917,"wires":[["e3095202.f0414"]]},{"id":"b678cae1.40f4d8","type":"change","z":"845896f3.df7ea8","name":"","rules":[{"t":"set","p":"paths[\"NotMetHoursCooling\"]","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":857,"wires":[["e3095202.f0414"]]},{"id":"e3095202.f0414","type":"wait-paths","z":"845896f3.df7ea8","name":"","paths":"[\"NotMetHoursCooling\",\"NotMetHoursHeating\"]","timeout":"15000","finalTimeout":"60000","x":1790,"y":857,"wires":[["b769a9fc.7efe78"]]},{"id":"2bf3a002.b5c5c","type":"ui_text","z":"845896f3.df7ea8","group":"86dee3b5.5fce4","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.totalSetPointHoursNotMet.value}}","format":"{{msg.payload.totalSetPointHoursNotMet.unit}}","layout":"col-center","x":1810,"y":937,"wires":[]},{"id":"779ba004.906e4","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1140,"y":1017,"wires":[["690bc5f9.bfe22c"]]},{"id":"dfbca8d0.f08c48","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"BuildingLPD\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":850,"y":1017,"wires":[["779ba004.906e4"]]},{"id":"690bc5f9.bfe22c","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1430,"y":1017,"wires":[["6cf8b64f.ab6598","d819e9d4.a76688"]]},{"id":"6cf8b64f.ab6598","type":"ui_text","z":"845896f3.df7ea8","group":"2bb38f9c.e114f","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1610,"y":977,"wires":[]},{"id":"c064a855.c8d368","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1470,"y":657,"wires":[]},{"id":"e24d2564.a52f68","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1140,"y":1117,"wires":[["2ac02ea2.fb7ab2"]]},{"id":"5f7d3081.15215","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"BuildingPPL\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":850,"y":1117,"wires":[["e24d2564.a52f68"]]},{"id":"2ac02ea2.fb7ab2","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1430,"y":1117,"wires":[["3483b176.c8d3fe","b2b58133.23cb8"]]},{"id":"3483b176.c8d3fe","type":"ui_text","z":"845896f3.df7ea8","group":"afce7074.a74d5","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1610,"y":1117,"wires":[]},{"id":"8b04080f.0295b8","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"a8b19b0d.03afb8","resource":"default","method":"get_GetBuildingSimulationResults_API","inType":"","outType":"","name":"","x":1140,"y":1217,"wires":[["c8d2cd6c.142da"]]},{"id":"ad068560.38d7f8","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var token = msg.giraffe.track_token\nvar key = msg.giraffe.project_api_key\nvar http = msg.res\n\nreturn [{\n    payload:{\n        track_token: token, \n        project_api_key: key,\n        // Enum: [\n        // 'CoolingElectricity',\n        // 'CoolingNaturalGas',\n        // 'DomesticHotWaterElectricity',\n        // 'DomesticHotWaterNaturalGas',\n        // 'ExteriorEquipmentElectricity',\n        // 'ExteriorEquipmentNaturalGas',\n        // 'ExteriorLightingElectricity',\n        // 'ExteriorLightingNaturalGas',\n        // 'FansElectricity', \n        // 'FansNaturalGas',\n        // 'HeatingElectricity',\n        // 'HeatingNaturalGas',\n        // 'HeatRejectionElectricity',\n        // 'HeatRejectionNaturalGas', \n        // 'InteiorEquipmentElectricity',\n        // 'InteriorEquipmentNaturalGas',\n        // 'InteriorLightingElectricity',\n        // 'InteriorLightingNaturalGas',\n        // 'PumpsElectricity',\n        // 'PumpsNaturalGas',\n        // 'NetSiteEUI',\n        // 'NotMetHoursCooling',\n        // 'NotMetHoursHeating',\n        // 'TotalEndUseElectricity',\n        // 'TotalEndUseNaturalGas',\n        // 'TotalSiteEUI',\n        // 'BuildingLPD'\n        //]\n        request_data: \"TotalEndUseElectricity\"\n    },\n    giraffe:{\n        track_token: token, \n        project_api_key: key\n    },\n    res: http\n}]\n","outputs":1,"noerr":0,"x":850,"y":1217,"wires":[["8b04080f.0295b8"]]},{"id":"c8d2cd6c.142da","type":"function","z":"845896f3.df7ea8","name":"create Poll payload","func":"var unit = msg.payload.data.unit\nvar value = msg.payload.data.value\n\nvar yo = {\n    \"unit\": unit,\n    \"value\": value\n}\n\nreturn [{payload: yo}]","outputs":1,"noerr":0,"x":1430,"y":1217,"wires":[["7534ffb1.af461","cfbe4bdf.51af78"]]},{"id":"7534ffb1.af461","type":"ui_text","z":"845896f3.df7ea8","group":"79f14a11.6a5cb4","order":0,"width":0,"height":0,"name":"","label":"{{msg.payload.value}}","format":"{{msg.payload.unit}}","layout":"col-center","x":1610,"y":1217,"wires":[]},{"id":"ba2d4fc3.0284c","type":"swagger api","z":"845896f3.df7ea8","apiConfig":"8ce35df4.8991c","resource":"Folders","method":"DataV1ProjectsFoldersByProjectIdAndFolderIdGet","inType":"","outType":"","name":"","x":1340,"y":360,"wires":[[]]},{"id":"8017e5e6.9ab938","type":"http in","z":"845896f3.df7ea8","name":"","url":"/getfolder","method":"get","upload":false,"swaggerDoc":"","x":990,"y":360,"wires":[["ba2d4fc3.0284c"]]},{"id":"96c22ac1.140be8","type":"swagger api","z":"89d475b9.0a1c68","apiConfig":"fface127.e195d","resource":"ReCap","method":"PhotoTo3dV1PhotoscenePost","inType":"","outType":"","name":"Forge - Reality Capture","x":610,"y":320,"wires":[["d37c6c4b.9b784","6a45ad83.2d1b24"]]},{"id":"b8effb30.c39c28","type":"subflow:277c0ba1.558da4","z":"89d475b9.0a1c68","name":"Forge Authenticate","x":230,"y":160,"wires":[["c896463b.7c2588"]]},{"id":"13e745bf.282b2a","type":"http in","z":"89d475b9.0a1c68","name":"","url":"/oauth/callback","method":"get","upload":false,"swaggerDoc":"","x":270,"y":380,"wires":[["7646fca0.86e9a4"]]},{"id":"4b593b8c.018504","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":400,"wires":[]},{"id":"c896463b.7c2588","type":"function","z":"89d475b9.0a1c68","name":"","func":"var auth = \"Bearer\" + \" \" + msg.payload.access_token\nvar sceneName = \"carnmoreCastleTEST\"\nvar contentType = \"application/json\"\nvar sceneType = \"object\"\nvar callback = \"http://localhost:8000/api/oauth/callback\"\nvar access_token \n\n// global.set(\"access_token\", auth)\n\nreturn [{ \n            payload:{\n                \"Authorization\": auth,\n                \"Content-Type\": contentType,\n                \"scenename\": sceneName,\n                \"scenetype\": sceneType,\n                \"callback\": callback\n            },\n            monkey: \n            {\n                \"auth\": auth\n            }\n        }]\n\n\n// [{\n//         payload:{\n//             track_token: tracking, \n//             project_api_key: key\n//         },\n//         giraffe:{\n//             track_token: tracking, \n//             project_api_key: key\n//         },\n//         res: http\n//     }]","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["96c22ac1.140be8","cdc135a7.7790d8"]]},{"id":"7646fca0.86e9a4","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":460,"wires":[]},{"id":"d37c6c4b.9b784","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":320,"wires":[]},{"id":"cdc135a7.7790d8","type":"debug","z":"89d475b9.0a1c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":240,"wires":[]},{"id":"656106b6.8df0a8","type":"swagger api","z":"89d475b9.0a1c68","apiConfig":"fface127.e195d","resource":"ReCap","method":"PhotoTo3dV1FilePost","inType":"","outType":"","name":"Forge - Reality Capture","x":870,"y":440,"wires":[["47e08268.40307c"]]},{"id":"24576797.2f0078","type":"function","z":"89d475b9.0a1c68","name":"rover","func":"var auth = global.get(\"access_token\")\nvar sceneName = \"carnmoreCastleTEST\"\nvar contentType = \"application/json\"\nvar sceneType = \"object\"\nvar callback = \"http://localhost:8000/api/oauth/callback\"\n\nvar id = msg.payload.photoscene.photosceneid\nvar auth = Authorization \nvar file = file[0]\nvar file1 = file[1]\nvar file2 = file[2]\n\nvar content =\"Content-Type\"\n\n\nmsg.payload = {\n    \"Authorization\": auth,\n    \"Content-Type\": contentType,\n    \"scenename\": sceneName,\n    \"scenetype\": sceneType,\n    \"callback\": callback\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[[]]},{"id":"6a45ad83.2d1b24","type":"function","z":"89d475b9.0a1c68","name":"lychee","func":"// var file0 = \"http://1e3a8b7d.ngrok.io/IMG_0875.jpg\"\n// var file1 = \"http://1e3a8b7d.ngrok.io/IMG_0876.jpg\"\n// var file2 = \"http://1e3a8b7d.ngrok.io/IMG_0877.jpg\"\n// var file3 = \"http://1e3a8b7d.ngrok.io/IMG_0878.jpg\"\n// var file4 = \"http://1e3a8b7d.ngrok.io/IMG_0879.jpg\"\n// var file5 = \"http://1e3a8b7d.ngrok.io/IMG_0880.jpg\"\n// var file6 = \"http://1e3a8b7d.ngrok.io/IMG_0881.jpg\"\n// var file7 = \"http://1e3a8b7d.ngrok.io/IMG_0882.jpg\"\n// var file8 = \"http://1e3a8b7d.ngrok.io/IMG_0883.jpg\"\n// var file9 = \"http://1e3a8b7d.ngrok.io/IMG_0884.jpg\"\n// var file10 = \"http://1e3a8b7d.ngrok.io/IMG_0885.jpg\"\n// var file11 = \"http://1e3a8b7d.ngrok.io/IMG_0886.jpg\"\n// var file12 = \"http://1e3a8b7d.ngrok.io/IMG_0887.jpg\"\n// var file13 = \"http://1e3a8b7d.ngrok.io/IMG_0888.jpg\"\n// var file14 = \"http://1e3a8b7d.ngrok.io/IMG_0889.jpg\"\n// var file15 = \"http://1e3a8b7d.ngrok.io/IMG_0890.jpg\"\n// var file16 = \"http://1e3a8b7d.ngrok.io/IMG_0891.jpg\"\n\nvar files = [\"http://1e3a8b7d.ngrok.io/IMG_0875.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0876.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0877.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0878.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0879.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0880.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0881.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0882.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0883.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0884.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0885.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0886.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0887.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0888.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0889.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0890.jpg\",\n\"http://1e3a8b7d.ngrok.io/IMG_0891.jpg\"]\n\n\nvar photoId = msg.payload.Photoscene.photosceneid\nvar auth = msg.monkey.auth\n\nconsole.log(\"....foto...\", photoId)\n\n// msg.payload = {\n//     \"Authorization\": auth,\n//     \"photosceneid\": photoId,\n//     \"Content-Type\": \"application/json\",\n//     \"file[0]\": file0,\n//     \"file[1]\": file1,\n//     \"file[2]\": file2,\n//     \"file[3]\": file3,\n//     \"file[4]\": file4,\n//     \"file[5]\": file5,\n//     \"file[6]\": file6,\n//     \"file[7]\": file7,\n//     \"file[8]\": file8,\n//     \"file[9]\": file9,\n//     \"file[10]\": file10,\n//     \"file[11]\": file11,\n//     \"file[12]\": file12,\n//     \"file[13]\": file13,\n//     \"file[14]\": file14,\n//     \"file[15]\": file15,\n//     \"file[16]\": file16\n// }\n\nmsg.payload = {\n    \"Authorization\": auth,\n    \"photosceneid\": photoId,\n    \"Content-Type\": \"application/json\",\n    \"file\": files,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["656106b6.8df0a8","4b593b8c.018504"]]},{"id":"47e08268.40307c","type":"http response","z":"89d475b9.0a1c68","name":"","statusCode":"","headers":{},"x":950,"y":540,"wires":[]},{"id":"f01794b5.3a42f8","type":"debug","z":"30918288.adf97e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":260,"wires":[]},{"id":"4b1d96fa.b072c8","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":340,"wires":[]},{"id":"6e3ef4bd.6a8cec","type":"debug","z":"845896f3.df7ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":480,"wires":[]},{"id":"7184aca7.b87114","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"88cb33f2.c28c4","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":400,"wires":[]},{"id":"1f1a3b85.4ce4f4","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"ceb616a1.d7b6f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"75","x":770,"y":340,"wires":[]},{"id":"f7911530.9879b8","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"15d6b287.1f8aad","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":280,"wires":[]},{"id":"5308e0f5.502a1","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"30ec2a16.3f1816","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":460,"wires":[]},{"id":"d51ca3b.c02c36","type":"ui_gauge","z":"f24e0467.202398","name":"","group":"473757bd.84ce28","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":520,"wires":[]},{"id":"ee72a523.a38058","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"d20574b3.c07a08","order":0,"width":"0","height":"0","gtype":"gage","title":"","label":"{{msg.payload.data.unit}}","format":"{{msg.payload.data.value}}","min":0,"max":"200","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1470,"y":717,"wires":[]},{"id":"cfbe4bdf.51af78","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"79f14a11.6a5cb4","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"{{msg.payload.unit}}","format":"{{msg.payload.value}}","min":0,"max":"2000000","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1610,"y":1257,"wires":[]},{"id":"b2b58133.23cb8","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"afce7074.a74d5","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"{{msg.payload.unit}}","format":"{{msg.payload.value}}","min":0,"max":"1000","colors":["#ca3838","#00b500","#ca3838"],"seg1":"300","seg2":"700","x":1610,"y":1157,"wires":[]},{"id":"d819e9d4.a76688","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"2bb38f9c.e114f","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"{{msg.payload.unit}}","format":"{{msg.payload.value}}","min":0,"max":"10","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1610,"y":1017,"wires":[]},{"id":"ff59b.7eb79a658","type":"ui_gauge","z":"845896f3.df7ea8","name":"","group":"86dee3b5.5fce4","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"{{msg.payload.totalSetPointHoursNotMet.unit}}","format":"{{msg.payload.totalSetPointHoursNotMet.value}}","min":0,"max":"6000","colors":["#ca3838","#00b500","#ca3838"],"seg1":"1000","seg2":"5000","x":1810,"y":977,"wires":[]},{"id":"2ec7d9c5.9da1e6","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":500,"wires":[]},{"id":"a85f023d.7dee5","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"Select Hub","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My Hub","type":"str"}],"payload":"","topic":"","x":530,"y":840,"wires":[["464839b4.387528","abec66d9.03b0a8"]]},{"id":"8e6b0dd2.47d48","type":"function","z":"30918288.adf97e","name":"","func":"var msg;\nmsg.options = [];\nvar temp1, temp2;\n\ntemp1 =\"one\";\ntemp2 = \"two\";\nmsg.options[0] = temp1;\nmsg.options[1] = temp2;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":840,"wires":[["a85f023d.7dee5"]]},{"id":"abec66d9.03b0a8","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":800,"wires":[]},{"id":"eaad5db6.9beca","type":"inject","z":"30918288.adf97e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":840,"wires":[["8e6b0dd2.47d48"]]},{"id":"887f2ec3.fc35e","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"Select Project","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"My Project","type":"str"}],"payload":"","topic":"","x":540,"y":920,"wires":[[]]},{"id":"7263b857.f84798","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"Select File","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"chicago.epw","type":"str"}],"payload":"","topic":"","x":530,"y":980,"wires":[[]]},{"id":"464839b4.387528","type":"function","z":"30918288.adf97e","name":"","func":"var newmsg = msg;\n\nnewmsg.options = [];\nnewmsg.options[0] = msg.payload;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":690,"y":880,"wires":[[]]},{"id":"cb387483.18dc08","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":380,"wires":[]},{"id":"7cdbd2fe.db2aac","type":"ui_dropdown","z":"30918288.adf97e","name":"","label":"Select File","place":"Select option","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"model.xml","type":"str"}],"payload":"","topic":"","x":530,"y":1080,"wires":[[]]},{"id":"c475ceb7.bad76","type":"http in","z":"f3e8442b.d6cce8","name":"","url":"/oauth/callback","method":"get","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["b95fe140.dab22"]]},{"id":"b95fe140.dab22","type":"function","z":"f3e8442b.d6cce8","name":"","func":"var client_id = \"mBmA7fzkNA5OWhDhcFPCXxfIM4YsuAHT\"\nvar client_secret = \"fsJo6vfZ36gP72XZ\"\nvar grant_type = \"authorization_code\" // Must be authorization_code\nvar code = msg.payload.code //The authorization code captured from the code query parameter when the GET authorize redirected back to the callback URL\nvar redirect_uri = \"http://localhost:8000/api/oauth/callback\"\n\nmsg.payload.client_id = client_id\nmsg.payload.client_secret = client_secret\nmsg.payload.grant_type = grant_type\nmsg.payload.code = code\nmsg.payload.redirect_uri = redirect_uri\nmsg.headers = {\n    \"content-type\" : \"application/x-www-form-urlencoded\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["8ea75650.408b68"]]},{"id":"f3b71e3e.3d104","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":560,"y":460,"wires":[]},{"id":"8ea75650.408b68","type":"swagger api","z":"f3e8442b.d6cce8","apiConfig":"77e841bd.045e8","resource":"Authenticate (OAuth)","method":"AuthenticationV1getToken","inType":"","outType":"","name":"","x":240,"y":320,"wires":[["277f394a.8f4ac6","efa96417.2b9cf8"]]},{"id":"e778575.fe352a8","type":"function","z":"f3e8442b.d6cce8","name":"Bearer","func":"var token = global.get(\"access_token\")\n\nmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token,\n    \"Content-Type\" : \"application/vnd.api+json\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["7b871aa5.d06ef4"]]},{"id":"277f394a.8f4ac6","type":"function","z":"f3e8442b.d6cce8","name":"Set Global Access, Refresh","func":"global.set(\"access_token\", msg.payload.access_token)\nglobal.set(\"refresh_token\", msg.payload.refresh_token)\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":320,"wires":[["e778575.fe352a8"]]},{"id":"efa96417.2b9cf8","type":"http response","z":"f3e8442b.d6cce8","name":"","statusCode":"301","headers":{"location":"http://localhost:8000/api/ui/#/1"},"x":360,"y":380,"wires":[]},{"id":"d13ad9ad.8b6988","type":"debug","z":"30918288.adf97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":680,"wires":[]},{"id":"7b871aa5.d06ef4","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"obj","url":"https://developer.api.autodesk.com/project/v1/hubs","tls":"","x":950,"y":340,"wires":[["ecff48fd.84c3d8"]]},{"id":"ecff48fd.84c3d8","type":"function","z":"f3e8442b.d6cce8","name":"Fill Hubs","func":"var newmsg = msg;\nnewmsg.options = [];\nvar name, id;\n\nfor (var i = 0; i < msg.payload.data.length; i++) {\n    name = msg.payload.data[i].attributes.name\n    id = msg.payload.data[i].id\n    newmsg.options[i] = {};\n    newmsg.options[i][name] = id;\n}\nreturn newmsg;","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["46bd584f.e4b908"]]},{"id":"46bd584f.e4b908","type":"ui_dropdown","z":"f3e8442b.d6cce8","name":"","label":"Select Hub","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My hub","type":"str"}],"payload":"","topic":"","x":950,"y":420,"wires":[["883ebede.458b"]]},{"id":"f40794bc.526c88","type":"ui_dropdown","z":"f3e8442b.d6cce8","name":"","label":"Select Project","place":"","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My project","type":"str"}],"payload":"","topic":"","x":1340,"y":420,"wires":[["cadb81c9.9e54d"]]},{"id":"4552fb99.1361a4","type":"function","z":"f3e8442b.d6cce8","name":"Fill Projects","func":"var name, id\nmsg.options = [];\n\nfor (var i = 0; i < msg.payload.data.length; i++) {\n    name = msg.payload.data[i].attributes.name\n    id = msg.payload.data[i].id + \" \" +msg.payload.data[0].relationships.rootFolder.data.id\n    msg.options[i] = {};\n    msg.options[i][name] = id;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1330,"y":380,"wires":[["f40794bc.526c88"]]},{"id":"a8eb008c.d6445","type":"ui_dropdown","z":"f3e8442b.d6cce8","name":"","label":"Select File","place":"Select option","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My file","type":"str"}],"payload":"","topic":"","x":1910,"y":360,"wires":[["c01da481.e1c1e8"]]},{"id":"5cb08757.f0a018","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1330,"y":340,"wires":[["4552fb99.1361a4"]]},{"id":"883ebede.458b","type":"function","z":"f3e8442b.d6cce8","name":"makeURL","func":"var newmsg = msg\n\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\n\nnewmsg.url = \"https://developer.api.autodesk.com/project/v1/hubs/\"+msg.payload+\"/projects\"\nreturn newmsg;","outputs":1,"noerr":0,"x":1160,"y":340,"wires":[["5cb08757.f0a018"]]},{"id":"cadb81c9.9e54d","type":"function","z":"f3e8442b.d6cce8","name":"makeURL","func":"var input = msg.payload + \"\"\nvar result = input.split(\" \");\nvar proID = result[0]\nglobal.set(\"project_id\", proID)\nvar URN = result[1]\nvar newmsg = msg\n\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nnewmsg.url = \"https://developer.api.autodesk.com/data/v1/projects/\"+proID+\"/folders/\" +URN+ \"/contents\"\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1540,"y":340,"wires":[["d6dd699d.ec4558"]]},{"id":"d6dd699d.ec4558","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1710,"y":340,"wires":[["737e2829.a92eb8","24cc3713.41a7c8"]]},{"id":"737e2829.a92eb8","type":"function","z":"f3e8442b.d6cce8","name":"Fill files","func":"var name, id\nmsg.options = [];\n\nfor (var i = 0; i < msg.payload.data.length; i++) {\n    name = msg.payload.data[i].attributes.displayName\n    id = msg.payload.data[i].id\n    msg.options[i] = {};\n    msg.options[i][name] = id;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":380,"wires":[["a8eb008c.d6445","3071a6a1.1d750a"]]},{"id":"c01da481.e1c1e8","type":"function","z":"f3e8442b.d6cce8","name":"Get Location","func":"var newmsg = msg\nvar proId = global.get(\"project_id\")\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nvar objID = msg.payload\nnewmsg.url = \"https://developer.api.autodesk.com/data/v1/projects/\"+proId+\"/items/\"+objID\nreturn newmsg;","outputs":1,"noerr":0,"x":2090,"y":360,"wires":[["12bc0cee.378113"]]},{"id":"12bc0cee.378113","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":2090,"y":420,"wires":[["d82c6b77.cb6258","aa7ac627.059098"]]},{"id":"d82c6b77.cb6258","type":"function","z":"f3e8442b.d6cce8","name":"Downlaod","func":"var newmsg = msg\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nnewmsg.url = msg.payload.included[0].relationships.storage.meta.link.href\nreturn newmsg;","outputs":1,"noerr":0,"x":2260,"y":420,"wires":[["fad38069.39ee4"]]},{"id":"fad38069.39ee4","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"bin","url":"","tls":"","x":2470,"y":420,"wires":[["9727a559.d9cbb8","486dde2d.086db"]]},{"id":"3071a6a1.1d750a","type":"ui_dropdown","z":"f3e8442b.d6cce8","name":"","label":"Select File","place":"Select option","group":"936d274c.dbb418","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"My file","type":"str"}],"payload":"","topic":"","x":1910,"y":520,"wires":[["10af29bd.c134b6"]]},{"id":"10af29bd.c134b6","type":"function","z":"f3e8442b.d6cce8","name":"Get Location","func":"var newmsg = msg\nvar proId = global.get(\"project_id\")\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nvar objID = msg.payload\nnewmsg.url = \"https://developer.api.autodesk.com/data/v1/projects/\"+proId+\"/items/\"+objID\nreturn newmsg;","outputs":1,"noerr":0,"x":2090,"y":520,"wires":[["e680162e.5efd58"]]},{"id":"e680162e.5efd58","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":2090,"y":580,"wires":[["5b6488fd.665108"]]},{"id":"5b6488fd.665108","type":"function","z":"f3e8442b.d6cce8","name":"Downlaod","func":"var newmsg = msg\nvar token = global.get(\"access_token\")\nnewmsg.headers = {\n    \"Authorization\" : \"Bearer\" + \" \" + token\n}\nnewmsg.url = msg.payload.included[0].relationships.storage.meta.link.href\nreturn newmsg;","outputs":1,"noerr":0,"x":2260,"y":580,"wires":[["a652f41e.5e4b48"]]},{"id":"a652f41e.5e4b48","type":"http request","z":"f3e8442b.d6cce8","name":"","method":"GET","ret":"bin","url":"","tls":"","x":2470,"y":580,"wires":[["d043e47d.1636e8","c344b308.61a3b"]]},{"id":"9727a559.d9cbb8","type":"debug","z":"f3e8442b.d6cce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2670,"y":340,"wires":[]},{"id":"d043e47d.1636e8","type":"debug","z":"f3e8442b.d6cce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2670,"y":580,"wires":[]},{"id":"486dde2d.086db","type":"file in","z":"f3e8442b.d6cce8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":2670,"y":420,"wires":[[]]},{"id":"c344b308.61a3b","type":"file","z":"f3e8442b.d6cce8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":2670,"y":640,"wires":[]},{"id":"aa7ac627.059098","type":"debug","z":"f3e8442b.d6cce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2350,"y":340,"wires":[]},{"id":"24cc3713.41a7c8","type":"debug","z":"f3e8442b.d6cce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2050,"y":240,"wires":[]},{"id":"e791a987.84f4b8","type":"http request","z":"7367f75f.e1c698","name":"","method":"POST","ret":"obj","url":"https://developer.api.autodesk.com/oss/v2/buckets","tls":"","x":530,"y":200,"wires":[["a6f2570f.b7c938"]]},{"id":"47902a0e.1c9104","type":"function","z":"7367f75f.e1c698","name":"","func":"var Auth = global.get(\"authentication\")\nvar key = \"mfrdgnotcg\"\nglobal.set(\"bucketKey\", key)\nmsg.headers = {\n    \"Authorization\" : Auth,\n    \"Content-Type\" : \"application/json\"\n}\nmsg.payload  =  {\n      \"bucketKey\": key,\n      \"policyKey\":\"persistent\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["e791a987.84f4b8"]]},{"id":"655b4219.e1e24c","type":"inject","z":"7367f75f.e1c698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["d752352b.535dd8"]]},{"id":"a6f2570f.b7c938","type":"debug","z":"7367f75f.e1c698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":200,"wires":[]},{"id":"d752352b.535dd8","type":"function","z":"7367f75f.e1c698","name":"","func":"var client_id = \"e000HQ9LYDZybWAGPOSUovs7GfQuRnqn\"\nvar client_secret = \"lnGhiAqm7avvlhvm\"\nvar grant_type = \"client_credentials\" // Must be client_credentials\nvar scope = \"bucket:create bucket:read data:write data:read\"\nvar newmsg = msg\n\nnewmsg.payload = {}\nnewmsg.payload.client_id = client_id\nnewmsg.payload.client_secret = client_secret\nnewmsg.payload.grant_type = grant_type\nnewmsg.payload.scope = scope\nnewmsg.headers = {\n    \"Content-Type\" : \"application/x-www-form-urlencoded\"\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["d2e85511.18aea8"]]},{"id":"d2e85511.18aea8","type":"http request","z":"7367f75f.e1c698","name":"","method":"POST","ret":"obj","url":"https://developer.api.autodesk.com/authentication/v1/authenticate","tls":"","x":530,"y":140,"wires":[["fc85c455.104d18"]]},{"id":"10358191.20235e","type":"function","z":"7367f75f.e1c698","name":"","func":"var Auth = global.get(\"authentication\")\nvar bucketKey = global.get(\"bucketKey\")\nvar newmsg = msg\n\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\"+ bucketKey +\"/details\"\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["8379949a.da11c8"]]},{"id":"8379949a.da11c8","type":"http request","z":"7367f75f.e1c698","name":"","method":"GET","ret":"obj","url":"","tls":"","x":530,"y":260,"wires":[["3b909418.86515c"]]},{"id":"3b909418.86515c","type":"debug","z":"7367f75f.e1c698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":260,"wires":[]},{"id":"6be0f6a7.b9bd58","type":"inject","z":"7367f75f.e1c698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["10358191.20235e"]]},{"id":"6cca4655.b9eb78","type":"function","z":"7367f75f.e1c698","name":"","func":"var Auth = global.get(\"authentication\")\nvar bucketKey = global.get(\"bucketKey\")\nvar newmsg = msg\n\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\nnewmsg.url = \"https://developer.api.autodesk.com/oss/v2/buckets/\"+bucketKey+\"/objects\"\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["7dc52d37.c8c5e4"]]},{"id":"7dc52d37.c8c5e4","type":"http request","z":"7367f75f.e1c698","name":"","method":"GET","ret":"obj","url":"","tls":"","x":530,"y":420,"wires":[["95214869.f7ab08"]]},{"id":"95214869.f7ab08","type":"debug","z":"7367f75f.e1c698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":420,"wires":[]},{"id":"da7082bc.7740f","type":"inject","z":"7367f75f.e1c698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["6cca4655.b9eb78"]]},{"id":"dbc29e1e.4c5fc","type":"comment","z":"7367f75f.e1c698","name":"Get 2 leg OAuth","info":"","x":1080,"y":140,"wires":[]},{"id":"3e1f1f52.825a6","type":"comment","z":"7367f75f.e1c698","name":"Create Bucket","info":"","x":1070,"y":200,"wires":[]},{"id":"fe39f2cb.102a2","type":"comment","z":"7367f75f.e1c698","name":"Get Bucket details","info":"","x":1090,"y":260,"wires":[]},{"id":"cfb69c4f.038b6","type":"comment","z":"7367f75f.e1c698","name":"List files in bucket","info":"","x":1090,"y":420,"wires":[]},{"id":"869a430b.717bd","type":"http request","z":"7367f75f.e1c698","name":"","method":"GET","ret":"txt","url":"https://developer.api.autodesk.com/oss/v2/buckets/mfrdgnotcg/objects/model.xml","tls":"","x":530,"y":480,"wires":[["a3b577a6.0a2a08","295f948a.2cfdac"]]},{"id":"60cfeafe.2823f4","type":"inject","z":"7367f75f.e1c698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["f2a7eaaf.7a6218"]]},{"id":"a3b577a6.0a2a08","type":"debug","z":"7367f75f.e1c698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":480,"wires":[]},{"id":"f2a7eaaf.7a6218","type":"function","z":"7367f75f.e1c698","name":"","func":"var Auth = global.get(\"authentication\")\n\nmsg.headers = {\n    \"Authorization\" : Auth\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["869a430b.717bd"]]},{"id":"d967be29.f818f","type":"comment","z":"7367f75f.e1c698","name":"Download a file","info":"","x":1080,"y":480,"wires":[]},{"id":"2054c4d.d95663c","type":"inject","z":"7367f75f.e1c698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["47902a0e.1c9104"]]},{"id":"968e8b2e.ca8158","type":"function","z":"7367f75f.e1c698","name":"","func":"var Auth = global.get(\"authentication\")\nvar bucketKey = global.get(\"bucketKey\")\nvar filename = \"model.xml\"\nvar newmsg = msg\n\nnewmsg.headers = {\n    \"Authorization\" : Auth\n}\n\nnewmsg.url =\"https://developer.api.autodesk.com/oss/v2/buckets/\"+ bucketKey +\"/objects/\"+filename\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["a93643e6.b0dc9"]]},{"id":"a93643e6.b0dc9","type":"http request","z":"7367f75f.e1c698","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":530,"y":360,"wires":[["d0e4a44e.a94728"]]},{"id":"44e0f514.44760c","type":"comment","z":"7367f75f.e1c698","name":"Upload a File","info":"","x":1070,"y":360,"wires":[]},{"id":"8b2e17d5.f15bc8","type":"file in","z":"7367f75f.e1c698","name":"","filename":"C:\\Users\\Sean McCann\\projects\\Files\\model.xml","format":"utf8","chunk":false,"sendError":true,"x":480,"y":320,"wires":[["968e8b2e.ca8158"]]},{"id":"9afc5289.310fb","type":"inject","z":"7367f75f.e1c698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["8b2e17d5.f15bc8"]]},{"id":"d0e4a44e.a94728","type":"debug","z":"7367f75f.e1c698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":360,"wires":[]},{"id":"2eba4649.7b4a4a","type":"function","z":"7367f75f.e1c698","name":"","func":"var project_api_key = \"565fcbbc-f500-4548-afb2-b71b30490282\"\nvar model = global.get(\"modelFile\")\nvar weather_file = global.get(\"weatherFile\")\n\nmsg.payload = {\n    \"project_api_key\": project_api_key,\n    \"model\": model,\n    \"weather_file\" : weather_file\n}\n\nmsg.url = \"http://localhost:8000/api/RunSimulationCustomize_API\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":680,"wires":[["a8569af1.c9bca8","63dae737.52a5a8"]]},{"id":"cb9bcc8a.fa4aa","type":"http request","z":"7367f75f.e1c698","name":"","method":"GET","ret":"txt","url":"https://developer.api.autodesk.com/oss/v2/buckets/mfrdgnotcg/objects/chicago.epw","tls":"","x":530,"y":540,"wires":[["66c73344.5dcc3c","317ec690.3a7bca"]]},{"id":"cd1351f6.b0d97","type":"inject","z":"7367f75f.e1c698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":540,"wires":[["fe562dda.2ac92"]]},{"id":"66c73344.5dcc3c","type":"debug","z":"7367f75f.e1c698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":540,"wires":[]},{"id":"fe562dda.2ac92","type":"function","z":"7367f75f.e1c698","name":"","func":"var Auth = global.get(\"authentication\")\n\nmsg.headers = {\n    \"Authorization\" : Auth\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["cb9bcc8a.fa4aa"]]},{"id":"9a415fee.0c704","type":"comment","z":"7367f75f.e1c698","name":"Download a file","info":"","x":1080,"y":540,"wires":[]},{"id":"317ec690.3a7bca","type":"function","z":"7367f75f.e1c698","name":"","func":"global.set(\"weatherFile\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":580,"wires":[[]]},{"id":"295f948a.2cfdac","type":"function","z":"7367f75f.e1c698","name":"","func":"global.set(\"modelFile\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":520,"wires":[[]]},{"id":"a8569af1.c9bca8","type":"http request","z":"7367f75f.e1c698","name":"","method":"POST","ret":"txt","url":"","tls":"","x":570,"y":680,"wires":[[]]},{"id":"353e237.f0847dc","type":"inject","z":"7367f75f.e1c698","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":680,"wires":[["2eba4649.7b4a4a"]]},{"id":"63dae737.52a5a8","type":"debug","z":"7367f75f.e1c698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":640,"wires":[]},{"id":"fc85c455.104d18","type":"function","z":"7367f75f.e1c698","name":"","func":"global.set(\"authentication\", \"Bearer \"+ msg.payload.access_token)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["7e3fac1f.ffd214"]]},{"id":"7e3fac1f.ffd214","type":"debug","z":"7367f75f.e1c698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":140,"wires":[]},{"id":"1987bfb9.7a1d8","type":"comment","z":"7367f75f.e1c698","name":"POST to buildsimhub","info":"","x":1100,"y":680,"wires":[]},{"id":"96f639bb.433f58","type":"comment","z":"7367f75f.e1c698","name":"Bad practice to test. Need to fix.","info":"","x":870,"y":540,"wires":[]}]